@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/

.box-area{
    width: 700px;
   
}

/*------------ Right box ------------*/


/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
a {
    color: #222F54;
    text-decoration: none;
}

a:hover{
    color: #0831a1;
}
/* .forgot{
    color: #222F54;
} */
.btn-dark {
    color: #fff;
    background: #253755;
    border-color: #222F54;
    
}


.input-group .btn a {
    color: #fff;
    text-decoration: none;
}



/*------------ For small screens------------*/

@media only screen and (max-width: 468px) {

     .box-area{
        margin: 0 10px;
    }
       
}


