<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Work Status</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  

        <!-- third party css -->
        <link href="../assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
        <!-- third party css end -->


        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
        <style>
            .complete-button{
                display: none;
            }
            .my-button{
                display: block;
            }
        </style>
    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                 <!-- LOGO -->
                <a href="/technicianDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../images/Homepagelo.png" alt="" height="90">
                    </span>
                </a>
                <br>
    
                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="/technicianDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                    
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    
                                    <li>
                                        <a href="/technician_incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/technician_service_request">Service Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item active" aria-current="page">
                            <a href="/techniciantaskproof"  class="side-nav-link">
                                <i class="bi bi-clipboard"></i>
                                <span>Work Status</span>
                            </a>
                        </li>
                    
                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a href="/switchToUser" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a>

                                </div>
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->

                    <!-- three box --> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Work Status</h4>
                                </div>
                            </div>
                        </div>     
                        

                        <!-- Table -->
                        <div class="row">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Status" style="width: 50%; font-size: 15px; padding: 12px 20px 12px 40px; border: .5px solid #ddd; margin-bottom: 12px;">
                                            <table class="table table-hover table-m table-nowrap" id="products-datatable">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>Request ID</th>
                                                        <th>Request Date</th>
                                                        <th>Block</th>
                                                        <th>Room no.</th>
                                                        <th>House no.</th>
                                                        <th>Status</th>
                                                        <th>Description</th>
                                                        <th>Complete Date</th>
                                                        <th>Remark</th>
                                                        <!-- <th>Complete Time</th> -->
                                                        <!-- <th>Action</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% var count = 0 %>
                                                    <% incidentRequests.forEach(function(incidentRequest){ %>
                                                        <% if(data.name === incidentRequest.assignedTechnician.split("-")[0]){ %>
                                                            <% count++ %>
                                                            <tr>
                                                                <td><%= count %></td>
                                                                <td><%= incidentRequest.requestDate %></td>
                                                                <td>
                                                                    <% if (incidentRequest.block === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.block %>
                                                                      <% } %>
                                                                    </td>
                                                                  <td>
                                                                    <% if ( incidentRequest.roomNo === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.roomNo %>
                                                                      <% } %>
                                                                    </td>
                                                                  <td>
                                                                    <% if ( incidentRequest.houseNo === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.houseNo %>
                                                                      <% } %>
                                                                    </td>
                                                                <% if (incidentRequest.assignedTechnician !== "" && incidentRequest.progress_status === "Completed") { %>
                                                                    <td>Completed</td>
                                                                  <% } else if (incidentRequest.assignedTechnician !== "" && incidentRequest.progress_status === "pending") { %>
                                                                    <td>In progress</td>
                                                                  <% } %>                                                                
                                                                <td><%= incidentRequest.description %></td>
                                                                <td>
                                                                    <% if ( incidentRequest.completeDate === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.completeDate %>
                                                                      <% } %>
                                                                    </td>
                                                                <td>
                                                                    <% if ( incidentRequest.remarks === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.remarks %>                                                                      <% } %>
                                                                    </td>

                                                                <!-- <td><%= incidentRequest.CompleteTime %></td> -->
                                                                <!-- <td class="table-action">
                                                                    <a href="/technician_form"><button class="btn btn-dark"><i class="bi bi-eye"></i>View</button></a>
                                                                </td>   -->
                                                               
                                                                <!-- <td class="table-action">
                                                                    <% if(incidentRequest.progress_status === "pending"){ %>
                                                                        <button onclick="editTableRow('<%= incidentRequest._id %>')" class="btn btn-dark"><i class="bi bi-eye"></i></button>
                                                                    <% }else{ %>
                                                                        <p>Done</p>
                                                                    <% } %>
                                                                </td>  -->
                                                            </tr>
                                                        <%}%>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                         </div>
                        <!-- end row-->
                        
                    </div> 
                    <!-- end of Table -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- Right Sidebar -->
        

            </div>
        </div>

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("products-datatable");
              tr = table.getElementsByTagName("tr");            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[5];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
            </script>


        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->

        <!-- third party js -->
        <script src="../assets/js/vendor/jquery.dataTables.min.js"></script>
        <script src="../assets/js/vendor/dataTables.bootstrap5.js"></script>
        <script src="../assets/js/vendor/dataTables.responsive.min.js"></script>
        <script src="../assets/js/vendor/responsive.bootstrap5.min.js"></script>
        <script src="../assets/js/vendor/dataTables.checkboxes.min.js"></script>
        <!-- third party js ends -->


        <!-- demo app -->
        <script src="../assets/js/pages/demo.customers.js"></script>
        <!-- end demo js-->
        <script>
            function editTableRow(rowId) {
                window.location.href = `/viewAssignRequest/${rowId}`;
            }
        </script>
        <script>
            function submitData(value) {
              // Make an AJAX request to the server
              const xhr = new XMLHttpRequest();
              xhr.open('POST', '/techniciantaskproof');
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onload = function() {
                if (xhr.status === 200) {
                    window.location.href = `/techniciantaskproof`;
                  // Handle the response from the server
                  console.log(xhr.responseText);
                } else {
                  // Handle any errors that occur during the request
                  console.error(xhr.statusText);
                }
              };
              xhr.send(JSON.stringify({ data: value }));
            }
          </script>
    </body>
</html>
