<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Technician Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  

         <!-- third party css -->
     <link href="../assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
     <link href="../assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
     <!-- third party css end -->

        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
        <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
        <link rel="stylesheet" href="../assets/css/alert.css">
       
    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                 <!-- LOGO -->
                <a href="#" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../images/Homepagelo.png" alt="" height="90">
                    </span>
                </a>
                <br>
    
                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item active" aria-current="page">
                            <a href="/technicianDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    
                                    <li>
                                        <a href="/technician_incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/technician_service_request">Service Request</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
                    
                        <!-- <li class="side-nav-item">
                            <a href="/technician_incident_request"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Incident Request</span>
                            </a>
                        </li>
                    
                        <li class="side-nav-item">
                            <a href="/technician_service_request"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Service Request</span>
                            </a>
                        </li> -->

                        <li class="side-nav-item">
                            <a href="/techniciantaskproof"  class="side-nav-link">
                                <i class="bi bi-clipboard"></i>
                                <span>Work Status</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a href="/switchToUser" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a>

                                </div>
                                
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->

                    <!-- three box --> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Technician Dashboard</h4>
                                </div>
                            </div>
                        </div>     
                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                                <div class="card1 " >
                                    <div class="card-body1">
                                        <div class="row align-items-center">
                                            <div class="card-body text-center">
                                                <i class="bi bi-file-earmark-text text-muted" style="font-size: 24px;"></i>
                                                 <!-- icon tshu ma tub, will change later --> 
                                                <h3><span><%= incidentCount %></span></h3>
                                                <!-- <h3><span>100</span></h3> -->
                                                <p class="text-muted font-13 mb-0">Total Requests Received</p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                                <br>
                            </div> <!-- end col -->
        
                            <div class="col-lg-6 col-xl-3">
                                <div class="card2">
                                    <div class="card-body1">
                                        <div class="row align-items-center">
                                            <div class="card-body text-center">
                                                <i class="bi bi-file-earmark-arrow-up text-muted" style="font-size: 24px;"></i>
                                                 <!-- icon tshu ma tub, will change later --> 
                                                <h3><span><%= inProgress %></span></h3>
                                                <p class="text-muted font-13 mb-0">Inprogress Requests</p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                                <br>
                            </div> <!-- end col -->

                            <div class="col-lg-6 col-xl-3">
                                <div class="card3">
                                    <div class="card-body1">
                                        <div class="row align-items-center">
                                            <div class="card-body text-center">
                                                <i class="bi bi-file-earmark-check text-muted" style="font-size: 24px;"></i>
                                                 <!-- icon tshu ma tub, will change later --> 
                                                <h3><span><%= done %></span></h3>
                                                <p class="text-muted font-13 mb-0">Requests Completed</p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->
                        </div>
                        <!-- end of three box -->

                        <!-- Table -->
                        <div class="row">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Status" style="width: 50%; font-size: 15px; padding: 12px 20px 12px 40px; border: .5px solid #ddd; margin-bottom: 12px;">
                                            <table class="table table-hover table-m table-nowrap" id="products-datatable">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>Request ID</th>
                                                        <th>Request Date</th>
                                                        <th>Block</th>
                                                        <th>Room no.</th>
                                                        <th>House no.</th>
                                                        <th>Status</th>
                                                        <th>Description</th>
                                                        <!-- <th>Remark</th> -->

                                                        <!-- <th>Complete Date</th> -->
                                                        <!-- <th>Complete Time</th> -->
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% var count = 0 %>
                                                    <% incidentRequests.forEach(function(incidentRequest){ %>
                                                        <% if(data.name === incidentRequest.assignedTechnician.split("-")[0]){ %>
                                                            <% count++ %>
                                                            <tr>
                                                                <td><%= count %></td>
                                                                <td><%= incidentRequest.requestDate %></td>
                                                                <td>
                                                                    <% if (incidentRequest.block === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.block %>
                                                                      <% } %>
                                                                    </td>
                                                                  <td>
                                                                    <% if ( incidentRequest.roomNo === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.roomNo %>
                                                                      <% } %>
                                                                    </td>
                                                                  <td>
                                                                    <% if ( incidentRequest.houseNo === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.houseNo %>
                                                                      <% } %>
                                                                    </td>
                                                                <% if (incidentRequest.assignedTechnician !== "" && incidentRequest.progress_status === "Completed") { %>
                                                                    <td>Completed</td>
                                                                  <% } else if (incidentRequest.assignedTechnician !== "" && incidentRequest.progress_status === "pending") { %>
                                                                    <td>In progress</td>
                                                                  <% } %>
                                                                <td><%= incidentRequest.description %></td>
                                                                <!-- <td><%= incidentRequest.remarks %></td> -->
                                                                <!-- <td><%= incidentRequest.completeDate %></td> -->
                                                                <!-- <td><%= incidentRequest.CompleteTime %></td> -->
                                                                <!-- <td class="table-action">
                                                                    <a href="/technician_form"><button class="btn btn-dark"><i class="bi bi-eye"></i>View</button></a>
                                                                </td>   -->
                                                             
                                                                <td class="table-action">
                                                                        <% if (incidentRequest.progress_status === 'Completed'){ %>
                                                                            <form action="/technicianDashboard" method="POST">
                                                                                <a onclick="editTableRow('<%= incidentRequest._id %>')" class="btn btn-dark"><i class="bi bi-eye"></i></a>

                                                                                <!-- <button value="<%= incidentRequest._id %>" type="submit" name="delete" class="btn btn-dark"><i class="mdi mdi-delete"></i></button> -->
                                                                                <button id="dialog-button" value="<%= incidentRequest._id %>" name="delete" class="btn btn-dark" type="button" onclick="openDialog()">
                                                                                    <i class="mdi mdi-delete" title="Delete"></i>
                                                                                </button>
                                                                            </form>
                                                                            
                                                                        <% }else{ %>
                                                                            <button onclick="editTableRow('<%= incidentRequest._id %>')" class="btn btn-dark"><i class="bi bi-eye"></i></button>
                                                                        <% } %>
                                                                        <div id="dialog-box" style="display: none;">
                                                                            <div id="dialog-content">
                                                                                <div id="dialog-icon"></div>
                                                                                <h4 class="title-page">Delete Request</h4>
                                                                                <p>Are you sure you want to delete?</p>
                                                                                <div id="dialog-buttons">
                                                                                    <button id="dialog-ok-button" onclick="deleteTechnician('<%= incidentRequest._id %>')">Delete</button>
                                                                                    <button id="dialog-cancel-button" onclick="closeDialog()">Cancel</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                </td> 
                                                            </tr>
                                                        <%}%>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                         </div>
                        <!-- end row-->
                        
                    </div> 
                    <!-- end of Table -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- Right Sidebar -->
        

            </div>
        </div>

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->
        <script>
            function openDialog() {
            const dialogBox = document.getElementById('dialog-box');
            dialogBox.style.display = 'flex';
        }

        function closeDialog() {
            const dialogBox = document.getElementById('dialog-box');
            dialogBox.style.display = 'none';
        }

        function deleteTechnician(technicianId) {
            const form = document.querySelector('form');
            const buttonsInput = document.createElement('input');
            buttonsInput.type = 'hidden';
            buttonsInput.name = 'delete';
            buttonsInput.value = technicianId;
            form.appendChild(buttonsInput);
            form.submit();
        }
        </script>
        <script>
            function softDeleteTableRow(id) {
              // Send an AJAX request to update the record's status in the database
              fetch('/soft-delete', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id })
              })
                .then(response => {
                  if (response.ok) {
                    // Soft delete was successful, you can perform any additional actions here
                    console.log('Soft deleted the record');
                    // Refresh or update the table if needed
                    location.reload(); // Reload the page to reflect the updated data
                  } else {
                    console.error('Failed to soft delete the record');
                  }
                })
                .catch(error => {
                  console.error('Error occurred while trying to soft delete the record', error);
                });
            }
          </script>
          
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("products-datatable");
              tr = table.getElementsByTagName("tr");            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[5];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
            </script>

        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->

        <!-- third party js -->
    <script src="../assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="../assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="../assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="../assets/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="../assets/js/vendor/dataTables.checkboxes.min.js"></script>
    <!-- third party js ends -->


    <!-- demo app -->
    <script src="../assets/js/pages/demo.customers.js"></script>
    <!-- end demo js-->
    <script>
        function editTableRow(rowId) {
            window.location.href = `/viewAssignRequest/${rowId}`;
        }
    </script>
    </body>
</html>
