<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Technician Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <!-- App css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

    <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
    <link rel="stylesheet" href="../assets/css/alert.css">
</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="technicianDashboard.ejs" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="../images/Homepagelo.png" alt="" height="90">
                </span>
            </a>
            <br>


            <div class="h-100" id="leftside-menu-container" data-simplebar="">

                <!--- Navigation -->
                <ul class="side-nav">
                    <li class="side-nav-item">
                            <a href="/technicianDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                    
                        <li class="side-nav-item active" aria-current="page">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    
                                    <li>
                                        <a href="/technician_incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/technician_service_request">Service Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/techniciantaskproof"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span>Work Status</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                </ul>
            </div>
            <!--  end of Navigation -->
        </div>

        <div class="content-page">
            <div class="content">
                <!-- Username and logout -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name"><%= data.name %></span>
                                    <span class="account-position"><%= data.email %></span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <!-- item-->
                                <a href="/switchToUser" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a>

                            </div>
                        </li>
                    </ul>
                    <!-- end of Username and logout -->
                    <!-- Search -->
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>

                </div>
                <!-- end of search -->
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body text-centered">

                                <br>

                                <!-- Steps Information -->
                                <div class="tab-content">

                                    <!-- Billing Content-->
                                    <div class="tab-pane show active" id="billing-information">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8 ">
                                                <h4 class="mt-2">Request Form</h4>

                                                <!-- <p class="text-muted mb-4">Fill the form below in order to
                                                    send you the order's invoice.</p> -->
                                                    <br>
                                                <% incidentRequests.forEach(function(request){ %>

                                                <form action="/technician_form/<%=request._id %>" method="POST" enctype="multipart/form-data" autocomplete="off">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="billing-first-name" class="form-label">Name</label>
                                                                <input id="name" class="form-control" type="text" value="<%= request.name %>" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="billing-last-name" class="form-label">Email</label>
                                                                <input id="email" class="form-control" type="text" value="<%= request.email %>" readonly>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="mb-3">
                                                                <label for="billing-address" class="form-label">Contact no.</label>
                                                                <input id="contact" class="form-control" type="text" value="<%=request.contactNo %>" readonly>

                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">Member Type</label>
                                                                <input id="memberType" class="form-control" type="text" value="<%= request.memberType %>" readonly>

                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <label><em>Location</em></label> <br>
                                                        <div class="col-md-4">
                                                            <div class="mb-3">

                                                                <label for="billing-email-address" class="form-label">Block </label>
                                                                <input id="block" class="form-control" type="text" value="<%= request.block %>" readonly>
                                                                <!-- <input class="form-control" type="text" value="<%= request.block %>" id="billing-email-address" readonly> -->

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="billing-phone" class="form-label">Room no.</label>
                                                                <input id="roomNo" class="form-control" type="text" value="<%= request.roomNo %>" readonly>
                                                                <!-- <input class="form-control" type="text" value="<%= request.roomNo %>" id="billing-phone" readonly> -->

                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="mb-3">
                                                                <label for="billing-phone" class="form-label">House no.</label>
                                                                <input id="houseNo" class="form-control" type="text" value="<%= request.houseNo %>" readonly>
                                                                <!-- <input class="form-control" type="text" value="<%= request.roomNo %>" id="billing-phone" readonly> -->

                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="mb-3">
                                                                <label for="billing-address" class="form-label">Request Type</label>
                                                                <input id="requestType" class="form-control" type="text" value="<%= request.requestType %>" readonly>

                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">

                                                                <label for="billing-email-address" class="form-label">Request Date</label>
                                                                <input id="requestDate" class="form-control" type="text" value="<%= request.requestDate %>" readonly>


                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="billing-phone" class="form-label">Request Time</label>
                                                                <input id="requestTime" class="form-control" type="text" value="<%= request.requestTime %>" readonly>

                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="mb-3 mt-3">
                                                                <label for="example-textarea" class="form-label">Description:</label>
                                                                <input id="description" class="form-control" type="text" value="<%= request.description %>" readonly>

                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                               
                                                                <label for="billing-email-address" class="form-label">Complete Date</label>
                                                                <input id="completeDate" class="form-control" type="date" name="completeDate" readonly>
                                                                <!-- <input id="completeDate" class="form-control" type="date" name="completeDate" required="true" id="billing-phone"> -->

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="billing-phone" class="form-label">Complete Time</label>
                                                                <input id="completeTime" class="form-control" type="time" name="CompleteTime" readonly>
                                                                
                                                                <!-- <input id="completeTime" class="form-control" type="time" name="CompleteTime" required="true" id="billing-phone"> -->
                                                            
                                                            </div>
                                                        </div>
                                                    </div> <!-- end row -->
                                                    <!-- <div class="row">
                                                        <div class="col-12">
                                                            <div class="mb-3">
                                                                <label for="example-textarea"
                                                                    class="form-label">Itemlist and Quantity</label>
                                                                <div class="input-group">
                                                                    <input id="itemList" type="text" aria-label="First name" class="form-control" required name="itemList">
                                                                    <input id="quantity" type="number" aria-label="Last name" class="form-control" required name="quantity">
                                                                </div>
                                                                <div class="text-sm-end">
                                                                    <button class="btn btn-light"><i class="mdi mdi-plus-circle"></i> </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> end row -->
                                                    <!-- Add error message elements for each input field -->
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="mb-3 mt-3">
                                                                <label for="example-textarea" class="form-label">Itemlist and Quantity:</label>
                                                                <textarea id="itemList" class="form-control" id="example-textarea" name="itemList" rows="3" placeholder="e.g., Socket - 1, Tubelight - 2" maxlength="100" required="true"></textarea>
                                                                <div id="itemList-error" class="error-message" style="color: red;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="mb-3">
                                                        <label for="formFile" class="form-label">Work Completion Evidence</label>
                                                        <input id="image" class="form-control" type="file" id="formFile" name="image" required="true" onchange="previewImage(this)">
                                                        <div id="image-error" class="error-message" style="color: red;"></div>
                                                    </div>
                                                    
                                                    <br>
                                                    <div class="row mt-12">
                                                        <div class="col-sm-12">
                                                            <div class="text-sm-end">
                                                                <input id="dialog-button" value="Submit" class="btn btn-dark" onclick="validateForm()">
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div id="dialog-box">
                                                            <div id="dialog-content">
                                                                <div id="dialog-icon"></div>
                                                                <h4 class="title-page">Submit Request</h4>
                                                                <p>Are you sure you want to submit?</p>
                                                                <div id="dialog-buttons">
                                                                    <button id="dialog-ok-button" style="justify-items: center">Submit</button>
                                                                    <button id="dialog-cancel-button" style="justify-items: center">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </form>
                                                <% }) %>

                                            </div>
                                        </div> <!-- end row-->
                                    </div>
                                    <!-- End Billing Information Content-->

                                    <!-- end table-responsive -->
                                </div> <!-- end .border-->

                            </div> <!-- end col -->
                        </div> <!-- end row-->
                    </div>
                    <!-- End Payment Information Content-->

                </div> <!-- end tab content-->

            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div>
    </div> <!-- end col -->
    </div>
    <!-- end row-->


    </div> <!-- content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script> © EISM
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->




    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->
    <!-- <script>
        function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                var imagePreview = document.createElement('img');
                imagePreview.setAttribute('src', e.target.result);
                imagePreview.setAttribute('style', 'max-width: 100%; height: auto;');
                imagePreview.onclick = function() {
                    window.open(e.target.result);
                };

                var imagePreviewContainer = document.getElementById('image-preview-container');
                if (!imagePreviewContainer) {
                    imagePreviewContainer = document.createElement('div');
                    imagePreviewContainer.setAttribute('id', 'image-preview-container');
                    input.parentNode.insertBefore(imagePreviewContainer, input.nextSibling);
                }
                
                imagePreviewContainer.innerHTML = '';
                imagePreviewContainer.appendChild(imagePreview);
            };
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    </script> -->
    <script>
        // Get the current date and time
        const currentDate = new Date();
        const currentDateString = currentDate.toISOString().split("T")[0];
        const currentTimeString = currentDate.toTimeString().split(" ")[0];
        
        // Set the values of the inputs
        document.getElementById("completeDate").value = currentDateString;
        document.getElementById("completeTime").value = currentTimeString;
      </script>
    
   

    <!-- <script>
        const submitButton = document.getElementById('dialog-button');
        
        submitButton.addEventListener('click', () => {
          const formInputs = document.querySelectorAll('input');
          let isFormValid = true;
      
          formInputs.forEach(input => {
            if (input.value === '') {
              isFormValid = false;
            }
          });
      
          if (!isFormValid) {
            alert('Please fill out the form before submitting.');
          }
        });
      </script> -->

    <script>
        // const name = document.getElementById("name");
        // const email = document.getElementById("email");
        // const contact = document.getElementById("contact");
        // const memberType = document.getElementById("membertype");
        // const block = document.getElementById("block");
        // const roomNo = document.getElementById("roomNo");
        // const requestType = document.getElementById("requestType");
        // const requestDate = document.getElementById("requestDate");
        // const requestTime = document.getElementById("requestTime");
        // const description = document.getElementById("description");
        const itemList = document.getElementById("itemList");
        const completeDate = document.getElementById("completeDate");
        const completeTime = document.getElementById("completeTime");
        const image = document.getElementById("image");

    
        const dialogButton = document.getElementById('dialog-button');
        const dialogBox = document.getElementById('dialog-box');
        const dialogOkButton = document.getElementById('dialog-ok-button');
        const dialogCancelButton = document.getElementById('dialog-cancel-button');
    
        let shouldRedirect = false; // Variable to track whether to redirect or not
    
        dialogButton.addEventListener('click', (event) => {
            event.preventDefault(); // Prevent the default form submission
            if (image.value !== "" && itemList.value !== "") {
                dialogBox.style.display = 'flex';
                shouldRedirect = true; // Enable redirection by default
            }
        });
    
        dialogOkButton.addEventListener('click', () => {
            console.log('OK button clicked');
            // Perform any necessary actions before redirecting
            if (shouldRedirect) {
                window.location.href = "/technicianDashboard"; // Replace "/userdashboard" with the desired page URL
            }
        });
    
        dialogCancelButton.addEventListener('click', (event) => {
            event.preventDefault(); // Prevent form submission
            console.log('Cancel button clicked');
            dialogBox.style.display = 'none';
            shouldRedirect = false;
            
        });
    </script>

    <!-- bundle -->
    <script src="../assets/js/vendor.min.js"></script>
    <script src="../assets/js/app.min.js"></script>

    <!-- Apex js -->
    <script src="../assets/js/vendor/apexcharts.min.js"></script>

    <!-- Todo js -->
    <script src="../assets/js/ui/component.todo.js"></script>

    <!-- demo app -->
    <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
    <!-- end demo js-->
    <script>
        function validateForm() {
            var itemList = document.getElementById('itemList').value;
            var image = document.getElementById('image').value;
            var isValid = true;
    
            if (itemList === '') {
                document.getElementById('itemList-error').textContent = 'Please enter the item list and quantity.';
                isValid = false;
            } else {
                document.getElementById('itemList-error').textContent = '';
            }
    
            if (image === '') {
                document.getElementById('image-error').textContent = 'Please upload the work completion evidence.';
                isValid = false;
            } else {
                document.getElementById('image-error').textContent = '';
            }
    
            if (isValid) {
                document.getElementById('dialog-button').readOnly = false;
                document.getElementById('dialog-button').click();
            }
        }
    </script>
</body>

</html>