<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>View Request</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  


        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
        <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
        <link rel="stylesheet" href="../assets/css/alert.css">


    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                 <!-- LOGO -->
                <a href="technicianDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../images/Homepagelo.png" alt="" height="90">
                    </span>
                </a>
                <br>
    
                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item active" aria-current="page">
                            <a href="/technicianDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                    
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    
                                    <li>
                                        <a href="/technician_incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/technician_service_request">Service Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/techniciantaskproof"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span>Work Status</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
        
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                    <!-- item-->
                                    <a href="/switchToUser" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a>

                                </div>
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <!-- Search -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>

                    </div>
                    <!-- end of search -->
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <br>
                            <br>
                            <div class="card">
                                <div class="card-body text-centered">

                                  <br>

                                    <!-- Steps Information -->
                                    <div class="tab-content">

                                        <!-- Billing Content-->
                                        <div class="tab-pane show active" id="billing-information">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 ">
                                                    <h4 class="mt-2">Assigned Request</h4>

                                                    <!-- <p class="text-muted2 mb-4">Fill the form below in order to
                                                        send you the order's invoice.</p> -->
                                                        <br>
                                                        
                                                    <% incidentRequests.forEach(function(incidentRequest){ %>
                                                        <% if(data.name === incidentRequest.assignedTechnician.split("-")[0]){ %>

                                                    <form action="/viewAssignRequest/<%= incidentRequest._id %>" method="POST" enctype="multipart/form-data" autocomplete="off">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="billing-first-name" class="form-label">Name</label>
                                                                    <input id="name" name="name" class="form-control" type="text" value="<%= incidentRequest.name %>" readonly> 
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="billing-last-name" class="form-label">Email</label>
                                                                    <input id="email" name="email" class="form-control" type="text" value="<%= incidentRequest.email %>" readonly>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-3">
                                                                    <label for="billing-address" class="form-label">Contact no.</label>
                                                                    <input id="contact" name="contact" class="form-control" type="text" value="<%=incidentRequest.contactNo %>" readonly>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-3">
                                                                    <label class="form-label" >Member Type</label>
                                                                    <input id="memberType" name="memberType" class="form-control" type="text" value="<%= incidentRequest.memberType %>" readonly>
                                                                    <!-- <select id="memberType" data-toggle="select2" required="true" name="memberType" title="Member Type"> -->
                                                                        <!-- <option value="0">Select Member Type</option> -->
                                                                        <!-- <option value="Staff">Staff</option>
                                                                        <option value="Student">Student</option>                                   
                                                                    </select> -->
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <label><em>Location</em></label> <br>
                                                            <div class="col-md-4">
                                                                <div class="mb-3">
                                                                   
                                                                    <label for="billing-email-address" class="form-label">Block </label>
                                                                    <input id="block" name="block" class="form-control" type="text" value="<%= incidentRequest.block %>" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="mb-3">
                                                                    <label for="billing-phone" class="form-label">Room no.</label>
                                                                    <input id="roomNo" name="roomNo" class="form-control" type="text" value="<%= incidentRequest.roomNo %>" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="mb-3">
                                                                    <label for="billing-phone" class="form-label">House no.</label>
                                                                    <input id="houseNo" name="houseNo" class="form-control" type="text" value="<%= incidentRequest.roomNo %>" readonly>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-3">
                                                                    <label for="billing-address"  class="form-label">Request Type</label>
                                                                    <input id="requestType" class="form-control" name="requestType" type="text" value="<%= incidentRequest.requestType %>" readonly>
                                                                    <!-- <select id="requestType" data-toggle="select2" required="true" name="requestType" title="Member Type"> -->
                                                                        <!-- <option value="0">Select Request Type</option> -->
                                                                        <!-- <option value="Incident">Incident</option>
                                                                        <option value="Service">Service</option>                                   
                                                                    </select> -->
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                   
                                                                    <label for="billing-email-address" class="form-label">Request Date</label>
                                                                    <input id="requestDate" name="requestDate" class="form-control" type="text" value="<%= incidentRequest.requestDate %>" readonly>
  
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="billing-phone" class="form-label">Request Time</label>
                                                                    <input id="requestTime" name="requestTime" class="form-control" type="text" value="<%= incidentRequest.requestTime %>" readonly>
                                                                    <!-- <input type="date" id="event_date" name="event_date"><br> -->
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-3 mt-3">
                                                                    <label for="example-textarea" class="form-label">Description:</label>
                                                                    <input id="description" name="description" class="form-control" type="text" value="<%= incidentRequest.description %>" readonly>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row mt-12">
                                                            <div class="col-sm-12">
                                                              <div class="text-sm-end">
                                                                <input id="dialog-button" value="Back" class="btn btn-dark" readonly>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        
                                                        
                                                    </form>
                                                    <% } %>

                                                    <% }) %>

                                                </div>          
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Billing Information Content-->

                                                        <!-- end table-responsive -->
                                                    </div> <!-- end .border-->
        
                                                </div> <!-- end col -->            
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Payment Information Content-->

                                    </div> <!-- end tab content-->

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->
                    

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->

        <script>
            // Add event listener to the button
            document.getElementById('dialog-button').addEventListener('click', function() {
              // Redirect to the dashboard URL
              window.location.href = '/technicianDashboard'; // Replace '/dashboard' with the actual URL of your dashboard
            });
          </script>
       

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->
       

        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->
    </body>
</html>
