@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');



/*------------ Right box ------------*/


/*------------ Custom Placeholder ------------*/



/*------------ For small screens------------*/

@media only screen and (max-width: 468px){

     .box-area{
        margin: 0 10px;
     }

}




#dialog-box {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  #dialog-content {
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  /* #dialog-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background-image: url('tick-icon.jpeg');
    background-size: cover;
  } */
  
  #dialog-buttons {
    margin-top: 20px;
  }
  
  #dialog-buttons button {
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #dialog-buttons button:first-child {
    background-color: #222f45;
    color: #fff;
  }
  
  #dialog-buttons button:last-child {
    background-color: #222f45;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #dialog-content {
      max-width: 90%;
    }
  }
  