@font-face {
    font-family: "ElMessiri-SemiBold";
    src: url("../fonts/el_messiri/ElMessiri-SemiBold.ttf"); }
  @font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf"); }
  @font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf"); }
    .selector {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
  
  body {
    font-family: "Montserrat-Regular";
    color: #999;
    font-size: 60%;
    background-color:#E7E9F0;
    margin: 0; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover; }
  
  .inner {
    max-width: 875px;
    margin: auto;
    background: #fff;
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  
  .image-holder {
    width: 50%;
    margin-top: 10%;
    border-radius: 10%;
    padding-right: 10%; 
  
  }
  
  form {
    width: 70%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 20%; }
  .mail{
    width: 30%;
    height: 30%;
    margin-left: 20%;
  
  }
  
  h3 {
    font-size: 150%;
    font-family: "ElMessiri-SemiBold";
    /* text-align: center; */
    padding-left: 10%;
    margin-bottom: 10%;
    margin-left:0;
    color: #000000; }
  
  .form-holder {
    padding-left: 5%;
    padding-bottom: 3%;
    margin-right: 20%;
    position: relative;
    right:20% }
    .form-holder.active:before {
      border: 2% solid transparent;
      background: #E7E9F0; }
  
  .form-control {
    display: block;
    width: 150%;
    border-radius: 10%;
    padding:1%;
    color: #808080;
    font-size: 300%;
    border: none;
    background: #f7f7f7;
    }
    .form-control::-webkit-input-placeholder {
      font-size: 40%;
      color: #808080;    
      font-family: "Montserrat-Regular"; }
    .form-control::-moz-placeholder {
      font-size: 40%;
      color: #808080;
      font-family: "Montserrat-Regular"; }
    .form-control:-ms-input-placeholder {
      font-size: 40%;
      color: #808080;
      font-family: "Montserrat-Regular"; }
    .form-control:-moz-placeholder {
      font-size: 40%;
      color: #808080;
      font-family: "Montserrat-Regular"; }
  
   /* 
  @-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px); }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }
  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px); }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px); }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px); }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px); }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }*/
  button {
    letter-spacing: 2%;
    border: none;
    width: 60%;
    height: 100%;
    margin-left:2%;
    border-radius: 8%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4%;
    background: #081F62;
    font-size: 100%;
    color: #fff;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
    button:hover {
      -webkit-animation-name: hvr-wobble-horizontal;
      animation-name: hvr-wobble-horizontal;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1; }
  
  .form-login {
    display: flex;
    align-items: center;
    margin-left: 10%; }
  
  @media (max-width: 800%) {
    .inner {
      display: block; }
  
    .image-holder {
      width: 100%;
      padding-right: 0; }
  
    form {
      width: 100%;
      padding: 0% 15% 70%; }
  
    .wrapper {
      background: none; } }
  
  /*# sourceMappingURL=style.css.map */