
/* Modal Styling */
.modal {
display: none;
position: fixed;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
background-color: #fefefe;
margin: 20% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 500px;
position: relative;
}

.close {
position: absolute;
top: 10px;
right: 10px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
}

.close:hover {
color: red;
}

h3 {
margin-top: 0;
}

input[type="file"] {
margin-bottom: 10px;
}

button {
padding: 8px 16px;
background-color: #4285F4;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #3367D6;
}

button:focus {
outline: none;
}

.upload-container {
    width: 300px;
    margin: 0 auto;
}

.upload-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.upload-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-button {
    margin-top: 10px;
}
