@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  font-family: 'Nubito', sans-serif;
  background: #ececec;
}



.form-gap {
  padding-top: 70px;
}

.btn-block{
  background-color: #222F54;
  color: #fff;
  font-size: 16px;
}

.btn-block:hover{
  background-color: #13275d;
  color: #fff;
}