<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add Technician</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  


        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

        <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
        <link rel="stylesheet" href="../assets/css/alert.css">

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
                <a href="/managerDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../images/Homepagelo.png" alt="" height="90">
                    </span>
                   
                </a>

               
                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="/managerDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item">
                            <a href="/incident_request" class="side-nav-link">
                                <i class="uil-calender"></i>
                                <span> Incident Request</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/service_request" class="side-nav-link">
                                <i class="bi bi-gear"></i>
                                <span> Service Request </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    
                                    <li>
                                        <a href="/incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/service_request">Service Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/taskproof" class="side-nav-link">
                                <i class="bi bi-clipboard"></i>
                                <span>Task Proof</span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item">
                            <a href="/staff_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span>Staff Details</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/technician_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span>Technician Details </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item active" aria-current="page">
                            <a data-bs-toggle="collapse" href="#sidebar" aria-expanded="false"
                                aria-controls="sidebar" class="side-nav-link">
                                <i class="bi bi-file-earmark-person"></i>
                                <span> Details </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebar">
                                <ul class="side-nav-second-level">
                                    <!-- <li>
                                        <a href="/registration"> Registrations</a>
                                    </li> -->
                                    <li>
                                        <a href="/staff_details"> Staff Details</a>
                                    </li>
                                    <li class="side-nav-item active" aria-current="page">
                                        <a href="/technician_details"> Technician Details</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/work_report" class="side-nav-link">
                                <i class="bi bi-bar-chart-line"></i>
                                <span> Work Report </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <!-- <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"> -->
                                    <!-- item-->
                                    <!-- <a href="/" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a> -->

                                <!-- </div> -->
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <!-- Search -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>

                    </div>
                    <!-- end of search -->
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <br>
                            <br>
                            <div class="card">
                                <div class="card-body text-centered">

                                  <br>

                                    <!-- Steps Information -->
                                    <div class="tab-content">

                                        <!-- Billing Content-->
                                        <div class="tab-pane show active" id="billing-information">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 ">
                                                                                     
                                                      
                                                    <h4 class="mt-2">Technician Registration Form </h4>

                                                    <p class="text-muted1 mb-4">Fill the form below to register technician.</p>
                                                   

                                                    <form action="/add_technician" method="POST">
                                                        <div class="row">
                                                          <div class="col-md-6">
                                                            <div class="mb-3">
                                                              <label for="billing-last-name" class="form-label">Name</label>
                                                              <input id="name" class="form-control" type="text" name="name" placeholder="Enter name" required="true">
                                                              <div class="error-message" id="name-error" style="color: red;"></div>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-6">
                                                            <div class="mb-3">
                                                              <label for="billing-first-name" class="form-label">Employee ID</label>
                                                              <input id="employee_id" class="form-control" type="text" name="employee_id" placeholder="Enter Employee ID" required="true">
                                                              <div class="error-message" id="employee_id-error" style="color: red;"></div>
                                                            </div>
                                                          </div>
                                                        </div> <!-- end row -->
                                                      
                                                        <div class="row">
                                                          <div class="col-12">
                                                            <div class="mb-3">
                                                              <label for="billing-address" class="form-label">Email</label>
                                                              <input id="email" class="form-control" type="email" name="email" placeholder="Enter email" required="true">
                                                              <div class="error-message" id="email-error" style="color: red;"></div>
                                                            </div>
                                                          </div>
                                                        </div> <!-- end row -->
                                                      
                                                        <div class="row">
                                                          <div class="col-12">
                                                            <div class="mb-3">
                                                              <label for="billing-address" class="form-label">Contact no.</label>
                                                              <input id="contact" class="form-control" name="contact" type="text" placeholder="Enter contact number" maxlength="8" required="true">
                                                              <div class="error-message" id="contact-error" style="color: red;"></div>
                                                            </div>
                                                          </div>
                                                        </div> <!-- end row -->
                                                      
                                                        <div class="row">
                                                          <div class="col-12">
                                                            <div class="mb-3">
                                                              <label for="billing-address" class="form-label">Role</label>
                                                              <input id="role" class="form-control" name="role" type="text" placeholder="Technician" value="technician" readonly>
                                                            </div>
                                                          </div>
                                                        </div> <!-- end row -->
                                                      
                                                        <div class="row">
                                                          <div class="col-12">
                                                            <div class="mb-3">
                                                              <label class="form-label">Designation</label>
                                                              <input id="designation" class="form-control" name="designation" type="text" placeholder="eg.: Electrician, Plumber..." required="true">
                                                              <div class="error-message" id="designation-error" style="color: red;"></div>
                                                            </div>
                                                          </div>
                                                        </div> <!-- end row -->
                                                      
                                                        <div class="row">
                                                          <div class="col-md-12">
                                                            <br>
                                                            <div class="mb-3">
                                                              <label for="billing-email-address" class="form-label">Password</label>
                                                              <div class="input-group">
                                                                <input id="password" class="form-control" type="password" name="password" placeholder="Enter password" required="true">
                                                                <button type="button" class="btn btn-light" onclick="togglePasswordVisibility()" aria-label="Toggle password visibility">
                                                                  <i id="password-toggle-icon" class="bi bi-eye-slash"></i>
                                                                </button>
                                                              </div>
                                                              <div class="error-message" id="password-error" style="color: red;"></div>
                                                            </div>
                                                          </div>
                                                        </div> <!-- end row -->
                                                      
                                                        <div class="row mt-12">
                                                          <div class="col-sm-12">
                                                            <div class="text-sm-end">
                                                              <input id="dialog-button" value="Register" class="btn btn-dark" readonly>
                                                            </div>
                                                          </div> <!-- end col -->
                                                        </div> <!-- end row -->
                                                       
                                                      
                                                        <div id="dialog-box">
                                                          <div id="dialog-content">
                                                            <div id="dialog-icon"></div>
                                                            <h4 class="title-page">Register Technician</h4>
                                                            <p>Are you sure you want to Register?</p>
                                                            <div id="dialog-buttons">
                                                              <button id="dialog-ok-button" style="justify-items: center">Register</button>
                                                              <button id="dialog-cancel-button" style="justify-items: center">Cancel</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </form>
                                                      
                                                </div>          
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Billing Information Content-->

                                                        <!-- end table-responsive -->
                                                    </div> <!-- end .border-->
        
                                                </div> <!-- end col -->            
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Payment Information Content-->

                                    </div> <!-- end tab content-->

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->
                    

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


       

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->
        <script>
            function togglePasswordVisibility() {
                const passwordInput = document.getElementById("password");
                const passwordToggleIcon = document.getElementById("password-toggle-icon");
              
                if (passwordInput.type === "password") {
                  passwordInput.type = "text";
                  passwordToggleIcon.classList.remove("bi-eye-slash");
                  passwordToggleIcon.classList.add("bi-eye");
                } else {
                  passwordInput.type = "password";
                  passwordToggleIcon.classList.remove("bi-eye");
                  passwordToggleIcon.classList.add("bi-eye-slash");
                }
              }
            </script>

<script>
    // const name = document.getElementById("name");
    // const email = document.getElementById("email");
    // const contact = document.getElementById("contact");
    // const memberType = document.getElementById("membertype");
    // const block = document.getElementById("block");
    // const roomNo = document.getElementById("roomNo");
    // const requestType = document.getElementById("requestType");
    // const requestDate = document.getElementById("requestDate");
    // const requestTime = document.getElementById("requestTime");
    // const description = document.getElementById("description");
    const name = document.getElementById("name");
    const email = document.getElementById("email");
    const contact = document.getElementById("contact");
    const password = document.getElementById("password");


    const dialogButton = document.getElementById('dialog-button');
    const dialogBox = document.getElementById('dialog-box');
    const dialogOkButton = document.getElementById('dialog-ok-button');
    const dialogCancelButton = document.getElementById('dialog-cancel-button');

    let shouldRedirect = false; // Variable to track whether to redirect or not

    dialogButton.addEventListener('click', (event) => {
        event.preventDefault(); // Prevent the default form submission
        if (name.value !== "" && email.value !== ""&& password.value !== "") {
            dialogBox.style.display = 'flex';
            shouldRedirect = true; // Enable redirection by default
        }
    });

    dialogOkButton.addEventListener('click', () => {
        console.log('OK button clicked');
        // Perform any necessary actions before redirecting
        if (shouldRedirect) {
            window.location.href = "/technician_details"; // Replace "/userdashboard" with the desired page URL
        }
    });

    dialogCancelButton.addEventListener('click', (event) => {
        event.preventDefault(); // Prevent form submission
        console.log('Cancel button clicked');
        dialogBox.style.display = 'none';
        shouldRedirect = false;
        
    });
</script>      


        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->
        
<script>
    function addOption() {
        var optionValue = prompt("Enter the technician option value:");
        if (optionValue) {
            var selectElement = document.getElementById("designation");
            var option = document.createElement("option");
            option.value = optionValue;
            option.text = optionValue;
            selectElement.add(option);
        }
    }

    function removeOption() {
        var selectElement = document.getElementById("designation");
        var selectedIndex = selectElement.selectedIndex;
        if (selectedIndex >= 0) {
            selectElement.remove(selectedIndex);
        }
    }
</script>
<!-- <script>
    // Function to check if the email format is valid
    function isEmailValid(email) {
        var emailRegex = /^[0-9]{8}\.gcit\@rub\.edu\.bt$/g;
        return emailRegex.test(email);
    }

    // Function to check if the contact format is valid
    function isContactValid(contact) {
        var phonenumberRegex = /^17[0-9]{6}|77[0-9]{6}$/g;
        return phonenumberRegex.test(contact);
    }

    document.getElementById('dialog-button').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent form submission

        var name = document.getElementById('name').value;
        var employeeId = document.getElementById('employee_id').value;
        var email = document.getElementById('email').value;
        var contact = document.getElementById('contact').value;
        var password = document.getElementById('password').value;
        var designation = document.getElementById('designation').value;

        var isValid = true;

        if (name === '') {
            document.getElementById('name-error').textContent = '*Please enter your name.';
            isValid = false;
        } else {
            document.getElementById('name-error').textContent = '';
        }

        if (employeeId === '') {
            document.getElementById('employee_id-error').textContent = '*Please enter your Employee ID.';
            isValid = false;
        } else {
            document.getElementById('employee_id-error').textContent = '';
        }

        if (email === '') {
            document.getElementById('email-error').textContent = '*Please enter your email address.';
            isValid = false;
        } else {
            if (!isEmailValid(email)) {
                document.getElementById('email-error').textContent = '*Please enter a valid email address in the format 12345678.gcit@rub.edu.bt.';
                isValid = false;
            } else {
                document.getElementById('email-error').textContent = '';
            }
        }

        if (contact === '') {
            document.getElementById('contact-error').textContent = '*Please enter your contact number.';
            isValid = false;
        } else {
            if (!isContactValid(contact)) {
                document.getElementById('contact-error').textContent = '*Please enter a valid contact number starting with 17 or 77, followed by 6 digits.';
                isValid = false;
            } else {
                document.getElementById('contact-error').textContent = '';
            }
        }

        if (password === '') {
            document.getElementById('password-error').textContent = '*Please enter your password.';
            isValid = false;
        } else {
            document.getElementById('password-error').textContent = '';
        }

        if (designation === '') {
            document.getElementById('designation-error').textContent = '*Please enter your designation.';
            isValid = false;
        } else {
            document.getElementById('designation-error').textContent = '';
        }

        if (isValid) {
            // Proceed with form submission
            document.getElementById('dialog-button').removeAttribute('disabled');
        } else {
            // Disable the register button
            document.getElementById('dialog-button').setAttribute('disabled', 'disabled');
        }
    });

    document.getElementById('email').addEventListener('input', function() {
        var email = document.getElementById('email').value;
        if (!isEmailValid(email)) {
            document.getElementById('email-error').textContent = '*Please enter a valid email address in the format 12345678.gcit@rub.edu.bt.';
            document.getElementById('dialog-button').setAttribute('disabled', 'disabled');
        } else {
            document.getElementById('email-error').textContent = '';
            document.getElementById('dialog-button').removeAttribute('disabled');
        }
    });

    document.getElementById('contact').addEventListener('input', function() {
        var contact = document.getElementById('contact').value;
        if (!isContactValid(contact)) {
            document.getElementById('contact-error').textContent = '*Please enter a valid contact number starting with 17 or 77, followed by 6 digits.';
            document.getElementById('dialog-button').setAttribute('disabled', 'disabled');
        } else {
            document.getElementById('contact-error').textContent = '';
            document.getElementById('dialog-button').removeAttribute('disabled');
        }
    });
</script> -->


<script>
    // Function to check if the email format is valid
    function isEmailValid(email) {
        var emailRegex = /^[0-9]{8}\.gcit\@rub\.edu\.bt$/g;
        return emailRegex.test(email);
    }

    // Function to check if the contact format is valid
    function isContactValid(contact) {
        var phonenumberRegex = /^17[0-9]{6}|77[0-9]{6}$/g;
        return phonenumberRegex.test(contact);
    }

    document.getElementById('dialog-button').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent form submission

        var name = document.getElementById('name').value;
        var employeeId = document.getElementById('employee_id').value;
        var email = document.getElementById('email').value;
        var contact = document.getElementById('contact').value;
        var password = document.getElementById('password').value;
        var designation = document.getElementById('designation').value;

        var isValid = true;

        if (name === '') {
            document.getElementById('name-error').textContent = '*Please enter your name.';
            isValid = false;
        } else {
            document.getElementById('name-error').textContent = '';
        }

        if (employeeId === '') {
            document.getElementById('employee_id-error').textContent = '*Please enter your Employee ID.';
            isValid = false;
        } else {
            document.getElementById('employee_id-error').textContent = '';
        }

        if (email === '') {
            document.getElementById('email-error').textContent = '*Please enter your email address.';
            isValid = false;
        } else {
            if (!isEmailValid(email)) {
                document.getElementById('email-error').textContent = '*Please enter a valid email address in the format 12345678.gcit@rub.edu.bt.';
                isValid = false;
            } else {
                document.getElementById('email-error').textContent = '';
            }
        }

        if (contact === '') {
            document.getElementById('contact-error').textContent = '*Please enter your contact number.';
            isValid = false;
        } else {
            if (!isContactValid(contact)) {
                document.getElementById('contact-error').textContent = '*Please enter a valid contact number starting with 17 or 77, followed by 6 digits.';
                isValid = false;
            } else {
                document.getElementById('contact-error').textContent = '';
            }
        }

        if (password === '') {
            document.getElementById('password-error').textContent = '*Please enter your password.';
            isValid = false;
        } else {
            if (password.length < 8) {
                document.getElementById('password-error').textContent = '*Password must be at least 8 characters or digits long.';
                isValid = false;
            } else {
                document.getElementById('password-error').textContent = '';
            }
        }

        if (designation === '') {
            document.getElementById('designation-error').textContent = '*Please enter your designation.';
            isValid = false;
        } else {
            document.getElementById('designation-error').textContent = '';
        }

        if (isValid) {
            // Proceed with form submission
            document.getElementById('dialog-button').removeAttribute('disabled');
        } else {
            // Disable the register button
            document.getElementById('dialog-button').setAttribute('disabled', 'disabled');
        }
    });

    document.getElementById('email').addEventListener('input', function() {
        var email = document.getElementById('email').value;
        if (!isEmailValid(email)) {
            document.getElementById('email-error').textContent = '*Please enter a valid email address in the format 12345678.gcit@rub.edu.bt.';
            document.getElementById('dialog-button').setAttribute('disabled', 'disabled');
        } else {
            document.getElementById('email-error').textContent = '';
            document.getElementById('dialog-button').removeAttribute('disabled');
        }
    });

    document.getElementById('contact').addEventListener('input', function() {
        var contact = document.getElementById('contact').value;
        if (!isContactValid(contact)) {
            document.getElementById('contact-error').textContent = '*Please enter a valid contact number starting with 17 or 77, followed by 6 digits.';
            document.getElementById('dialog-button').setAttribute('disabled', 'disabled');
        } else {
            document.getElementById('contact-error').textContent = '';
            document.getElementById('dialog-button').removeAttribute('disabled');
        }
    });
        document.getElementById('password').addEventListener('input', function() {
            var password = document.getElementById('password').value;
            if (password.length < 8) {
                document.getElementById('password-error').textContent = '*Password must be at least 8 characters or digits long.';
                document.getElementById('dialog-button').setAttribute('disabled', 'disabled');
            } else {
                document.getElementById('password-error').textContent = '';
                document.getElementById('dialog-button').removeAttribute('disabled');
            }
        });
</script>
 <script>
        
    </script>
    <!-- <script>
        document.getElementById('dialog-button').addEventListener('click', function() {
            var name = document.getElementById('name').value;
            var employeeId = document.getElementById('employee_id').value;
            var email = document.getElementById('email').value;
            var contact = document.getElementById('contact').value;
            var password = document.getElementById('password').value;
            var designation = document.getElementById('designation').value;

            var isValid = true;

            if (name === '') {
                document.getElementById('name-error').textContent = '*Please enter your name.';
                isValid = false;
            } else {
                document.getElementById('name-error').textContent = '';
            }

            if (employeeId === '') {
                document.getElementById('employee_id-error').textContent = '*Please enter your Employee ID.';
                isValid = false;
            } else {
                document.getElementById('employee_id-error').textContent = '';
            }

            if (email === '') {
                document.getElementById('email-error').textContent = '*Please enter your email address.';
                isValid = false;
            } else {
                document.getElementById('email-error').textContent = '';
            }

            if (contact === '') {
                document.getElementById('contact-error').textContent = '*Please enter your contact number.';
                isValid = false;
            } else {
                document.getElementById('contact-error').textContent = '';
            }

            if (password === '') {
                document.getElementById('password-error').textContent = '*Please enter your password.';
                isValid = false;
            } else {
                document.getElementById('password-error').textContent = '';
            }

            if (designation === '') {
                document.getElementById('designation-error').textContent = '*Please enter your designation.';
                isValid = false;
            } else {
                document.getElementById('designation-error').textContent = '';
            }

            if (isValid) {
                // Proceed with form submission
                document.getElementById('dialog-button').readOnly = false;
                document.getElementById('dialog-button').click();
            }
        });
    </script> -->
    </body>
</html>
