<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Assign Technician</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  


        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

        <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
        <link rel="stylesheet" href="../assets/css/alert.css">

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
                <a href="/managerDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../images/Homepagelo.png" alt="" height="90">
                    </span>
                   
                </a>


    
                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="/managerDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item active" aria-current="page">
                            <a href="/incident_request" class="side-nav-link">
                                <i class="uil-calender"></i>
                                <span> Incident Request</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/service_request" class="side-nav-link">
                                <i class="bi bi-gear"></i>
                                <span> Service Request </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item active" aria-current="page">
                            <a data-bs-toggle="collapse" href="#sidebar" aria-expanded="false"
                                aria-controls="sidebar" class="side-nav-link">
                                <i class="bi bi-file-earmark-person"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebar">
                                <ul class="side-nav-second-level">
                                    
                                    <li class="side-nav-item active" aria-current="page">
                                        <a href="/incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/service_request">Service Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/taskproof" class="side-nav-link">
                                <i class="bi bi-clipboard"></i>
                                <span> Task Proof </span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item">
                            <a href="/staff_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span>Staff Details</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/technician_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Technician Details </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Details </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    <!-- <li>
                                        <a href="/registration"> Registrations</a>
                                    </li> -->
                                    <li>
                                        <a href="/staff_details"> Staff Details</a>
                                    </li>
                                    <li>
                                        <a href="/technician_details"> Technician Details</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/work_report" class="side-nav-link">
                                <i class="bi bi-bar-chart-line"></i>
                                <span> Work Report </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <!-- <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"> -->
                                    <!-- item-->
                                    <!-- <a href="/switchToUser1" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a> -->

                                <!-- </div> -->
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <!-- Search -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>

                    </div>
                    <!-- end of search -->
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <br>
                            <br>
                            <div class="card">
                                <div class="card-body text-centered">

                                  <br>

                                    <!-- Steps Information -->
                                    <div class="tab-content">

                                        <!-- Billing Content-->
                                        <div class="tab-pane show active" id="billing-information">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 ">
                                                    <h4 class="mt-2">Assign Technician</h4>

                                                    <!-- <p class="text-muted mb-4">Fill the form below in order to
                                                        send you the order's invoice.</p> -->
                                                        <br>

                                                    <% incidentRequests.forEach(function(request){ %>
                                                        <form action="/Assign_Technician/<%=request._id %>" method="POST" autocomplete="off">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="billing-first-name" class="form-label">Name</label>
                                                                        <input id="name" class="form-control" type="text" value="<%= request.name %>" readonly>
                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="billing-last-name" class="form-label">Email</label>
                                                                        <input id="email" class="form-control" type="text" value="<%= request.email %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="mb-3">
                                                                        <label for="billing-address" class="form-label">Contact no.</label>
                                                                        <input id="contact" class="form-control" type="text" value="<%=request.contactNo %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Member Type</label>
                                                                        <input id="memberType" class="form-control" type="text" value="<%= request.memberType %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <label><em>Location</em></label> <br>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                       
                                                                        <label for="billing-email-address" class="form-label">Block </label>
                                                                        <input id="block" class="form-control" type="text" value="<%= request.block %>" id="billing-email-address" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="billing-phone" class="form-label">Room no.</label>
                                                                        <input id="roomNo" class="form-control" type="text" value="<%= request.roomNo %>" id="billing-phone" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="mb-3">
                                                                        <label for="billing-phone" class="form-label">House no.</label>
                                                                        <input id="houseNo" class="form-control" type="text" value="<%= request.houseNo %>" id="billing-phone" readonly>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="mb-3">
                                                                        <label for="billing-address" class="form-label">Request Type</label>
                                                                        <input id="requestType" class="form-control" type="text" value="<%= request.requestType %>" readonly>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                       
                                                                        <label for="billing-email-address" class="form-label">Request Date</label>
                                                                        <input id="requestDate" class="form-control" type="text" value="<%= request.requestDate %>" id="" readonly>
      
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label for="billing-phone" class="form-label">Request Time</label>
                                                                        <input id="requestTime" class="form-control" type="text" value="<%= request.requestTime %>" id="" readonly>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="mb-3 mt-3">
                                                                        <label for="example-textarea" class="form-label">Description:</label>
                                                                        <input id="description" class="form-control" type="text" value="<%= request.description %>" id="" readonly>
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="mb-3 mt-3">
                                                                        <label id="assign" for="example-textarea" class="form-label">Assign Technician</label>
                                                                        <select name="assign" class="form-select">
                                                                            <% assigns.forEach(function(assign){ %>
                                                                                <% if(assign.designation !== undefined && assign.role !== "user" && assign.role !== "manager"){ %>
                                                                                    <option value="<%= assign.name %>-<%= assign.designation %>"><%= assign.name %>-<%= assign.designation %></option>
                                                                                <% } %>
                                                                            <% }) %>
                                                                          </select>        
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            
    
                                                            <div class="row mt-12">
                                                                <div class="col-sm-12">
                                                                    <div class="text-sm-end">
                                                                        <input id="dialog-button"  value="Assign" class="btn btn-dark" readonly>
                                                                        <!-- <input id="dialog-button" type="submit" value="Assign" class="btn btn-dark"> -->
                                                                    </div>
                                                                </div>
                                                            </div> <!-- end row -->
                                                            <div id="dialog-box">
                                                                <div id="dialog-content">
                                                                    <div id="dialog-icon"></div>
                                                                    <h4 class="page-title">Assign Technician</h4>
                                                                    <p>Are you sure you want to Assign the technician?</p>
                                                                    <div id="dialog-buttons">
                                                                        <button id="dialog-ok-button" style="justify-items: center">Submit</button>
                                                                        <button id="dialog-cancel-button" style="justify-items: center">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    <% }) %>
                                                </div>          
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Billing Information Content-->

                                                        <!-- end table-responsive -->
                                                    </div> <!-- end .border-->
        
                                                </div> <!-- end col -->            
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Payment Information Content-->

                                    </div> <!-- end tab content-->

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->
                    

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


       

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->
            
<script>
    const dialogButton = document.getElementById('dialog-button');
    const dialogBox = document.getElementById('dialog-box');
    const dialogOkButton = document.getElementById('dialog-ok-button');
    const dialogCancelButton = document.getElementById('dialog-cancel-button');

    let shouldSubmitForm = false; // Variable to track whether to submit the form or not

    dialogButton.addEventListener('click', () => {
        dialogBox.style.display = 'flex';
    });

    dialogOkButton.addEventListener('click', () => {
        shouldSubmitForm = true;
        dialogBox.style.display = 'none';
        // Submit the form programmatically
        document.querySelector('form').submit();
    });

    dialogCancelButton.addEventListener('click', () => {
        shouldSubmitForm = false;
        dialogBox.style.display = 'none';
    });

    // Add a submit event listener to the form
    document.querySelector('form').addEventListener('submit', (event) => {
        if (!shouldSubmitForm) {
            event.preventDefault(); // Prevent form submission
        }
    });
</script>

        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->
    </body>
</html>
