<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Staff Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  

         <!-- third party css -->
         <link href="../assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
         <link href="../assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
         <!-- third party css end -->
         <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
         <link rel="stylesheet" href="../assets/css/alert.css">

        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
                <a href="/managerDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../images/Homepagelo.png" alt="" height="90">
                    </span>
                   
                </a>

                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="/managerDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item">
                            <a href="/incident_request" class="side-nav-link">
                                <i class="uil-calender"></i>
                                <span> Incident Request</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/service_request" class="side-nav-link">
                                <i class="bi bi-gear"></i>
                                <span> Service Request </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item" aria-current="page">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    
                                    <li>
                                        <a href="/incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/service_request">Service Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/taskproof" class="side-nav-link">
                                <i class="bi bi-clipboard"></i>
                                <span> Task Proof </span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item">
                            <a href="/staff_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span>Staff Details</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/technician_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Technician Details </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item active" aria-current="page">
                            <a data-bs-toggle="collapse" href="#sidebar" aria-expanded="false"
                                aria-controls="sidebar" class="side-nav-link">
                                <i class="bi bi-file-earmark-person"></i>
                                <span> Details </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebar">
                                <ul class="side-nav-second-level">
                                    <!-- <li>
                                        <a href="/registration"> Registrations</a>
                                    </li> -->
                                    <li class="side-nav-item active" aria-current="page">
                                        <a href="/staff_details"> Staff Details</a>
                                    </li>
                                    <li>
                                        <a href="/technician_details"> Technician Details</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/work_report" class="side-nav-link">
                                <i class="bi bi-bar-chart-line"></i>
                                <span> Work Report </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <!-- <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"> -->
                                    <!-- item-->
                                    <!-- <a href="/switchToUser1" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a> -->

                                <!-- </div> -->
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->

                    <!-- three box --> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Staff Details</h4>
                                </div>
                            </div>
                        </div>     
                        

                        <!-- Table -->
                        <div class="row">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Employee ID" style="width: 50%; font-size: 15px; padding: 12px 20px 12px 40px; border: .5px solid #ddd; margin-bottom: 12px;">
                                            <table class="table table-hover table-m table-nowrap" id="products-datatable">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>Serial No</th>
                                                        <th>Name</th>
                                                        <th>Employee ID</th>
                                                        <th>Email</th>
                                                        <!-- <th>Designation</th> -->
                                                        <th>Contact No.</th>
                                                        <!-- <th>Password</th> -->
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% var count = 0 %>
                                                    <% technicians.forEach(function(technician){ %>
                                                        <% if(technician.isDeleted === false){ %>
                                                            <% count++ %>
                                                            <tr>
                                                                <td><%= count %></td>
                                                                <td><%= technician.name %></td>
                                                                <td><%= technician.employee_id %></td>
                                                                <td><%= technician.email %></td>
                                                                <!-- <td><%= technician.designation%></td> -->
                                                                <td><%= technician.contact%> </td> 
                                                                <!-- <td><%= technician.password%> </td>  -->
                                                                <td class="table-action">
                                                                    <!-- <button class="btn btn-dark"><i class="mdi mdi-square-edit-outline"></i> Edit</button> -->
                                                                    
                                                                    <form action="/staff_details" method="POST">
                                                                        <a href="/staff_update_form/<%=technician._id%>" class="btn btn-dark"><i class="mdi mdi-square-edit-outline"></i> </a>
                                                                        <!-- <button id="dialog-button" value="<%=technician._id%>" name="buttons" class="btn btn-dark" type="submit"><i class="mdi mdi-delete" title="Delete"></i></button> -->
                                                                        <button id="dialog-button" value="<%=technician._id%>" name="buttons" class="btn btn-dark" type="button" onclick="openDialog()">
                                                                            <i class="mdi mdi-delete" title="Delete"></i>
                                                                        </button>
                                                                    </form>
                                                                    <div id="dialog-box" style="display: none;">
                                                                        <div id="dialog-content">
                                                                            <div id="dialog-icon"></div>
                                                                            <h4 class="title-page">Delete Staff</h4>
                                                                            <p>Are you sure you want to delete?</p>
                                                                            <div id="dialog-buttons">
                                                                                <button id="dialog-ok-button" onclick="deleteTechnician('<%=technician._id%>')">Delete</button>
                                                                                <button id="dialog-cancel-button" onclick="closeDialog()">Cancel</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <button name="button" type="submit" value="<%=technician._id%>" class="btn btn-danger"><i class="mdi mdi-delete"></i> Delete</button> -->
                                                                    
                                                                </td> 
                                                            </tr>
                                                           
                                                       <% } %>
                                                    <% }) %>
                                                   
                                                    
                                                </tbody>
                                            </table>
                                        </div> <!-- end table-responsive-->
                                    </div> <!-- end card-body-->
                                    <div class="row mt-12">
                                        <div class="col-sm-12">
                                            <div class="text-sm-end">
                                                <!-- Bulk Registration Form -->
                                                <form action="/bulk-registrations" method="POST" enctype="multipart/form-data">
                                                    <div>
                                                        <!-- <input type="file" name="csvFile" class="form-control col-md-6" accept=".csv" required> -->
                                                        <input type="file" name="csvFile" accept=".csv" required >
                                                        <input type="submit" class="btn btn-dark" value="Upload">
                                                          <!-- Download CSV Template -->
                                                        <a href="/download-csv-templates" class="btn btn-dark" role="button">Download CSV Template</a>&nbsp;
                                                        <a href="/add_user" class="btn btn-dark" role="button">Register Staff</a>
                                                    </div>
                                                </form>   
                                            </div>
                                        </div> <!-- end col -->
                                    </div> <!-- end row -->
                                  <br>

                                </div> <!-- end card-->
                         </div>
                        <!-- end row-->
                        
                    </div> 
                    <!-- end of Table -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- Right Sidebar -->
        

            </div>
        </div>

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->
        <script>
            function openDialog() {
            const dialogBox = document.getElementById('dialog-box');
            dialogBox.style.display = 'flex';
        }

        function closeDialog() {
            const dialogBox = document.getElementById('dialog-box');
            dialogBox.style.display = 'none';
        }

        function deleteTechnician(technicianId) {
            const form = document.querySelector('form');
            const buttonsInput = document.createElement('input');
            buttonsInput.type = 'hidden';
            buttonsInput.name = 'buttons';
            buttonsInput.value = technicianId;
            form.appendChild(buttonsInput);
            form.submit();
        }
        </script>
        
        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("products-datatable");
              tr = table.getElementsByTagName("tr");            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
            </script>

        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->

        <!-- third party js -->
        <script src="../assets/js/vendor/jquery.dataTables.min.js"></script>
        <script src="../assets/js/vendor/dataTables.bootstrap5.js"></script>
        <script src="../assets/js/vendor/dataTables.responsive.min.js"></script>
        <script src="../assets/js/vendor/responsive.bootstrap5.min.js"></script>
        <script src="../assets/js/vendor/dataTables.checkboxes.min.js"></script>
        <!-- third party js ends -->


        <!-- demo app -->
        <script src="../assets/js/pages/demo.customers.js"></script>
        <!-- end demo js-->
            <%- include("../alert/warning"); -%>
    </body>
</html>
