<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Work Status</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <!-- <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">   -->

        <!-- third party css -->
        <link href="../assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
        <!-- third party css end -->

        <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
        <link rel="stylesheet" href="../assets/css/alert.css">

        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">


        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
        <style>
            .complete-button{
                display: none;
            }
            .my-button{
                display: block;
            }
            .image-popup-modal {
                margin-top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .image-popup-content {
                text-align: center;
                padding: 20px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                max-width: 90%;
                max-height: 90%;
            }
                
                .image-popup-content img {
                max-width: 100%;
                max-height: 100%;
                }

                .image-popup-close {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 20px;
                color: #333;
                cursor: pointer;
            
            }
            a {
                color: #333;
                cursor: pointer;
            }
            a:hover{
                text-decoration: none;
            }
        </style>
    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
                <a href="/managerDashboard" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="../images/Homepagelo.png" alt="" height="90">
                    </span>
                    
                </a>

    
                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="/managerDashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item">
                            <a href="/incident_request" class="side-nav-link">
                                <i class="uil-calender"></i>
                                <span> Incident Request</span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/service_request" class="side-nav-link">
                                <i class="bi bi-gear"></i>
                                <span> Service Request </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item" aria-current="page">
                            <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                                aria-controls="sidebarEcommerce" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Requests </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebarEcommerce">
                                <ul class="side-nav-second-level">
                                    
                                    <li>
                                        <a href="/incident_request">Incident Request</a>
                                    </li>
                                    <li>
                                        <a href="/service_request">Service Request</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item active" aria-current="page">
                            <a href="/taskproof" class="side-nav-link">
                                <i class="bi bi-clipboard"></i>
                                <span> Task Proof </span>
                            </a>
                        </li>
                        <!-- <li class="side-nav-item">
                            <a href="/staff_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span>Staff Details</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/technician_details" class="side-nav-link">
                                <i class="bi bi-file-text"></i>
                                <span> Technician Details </span>
                            </a>
                        </li> -->
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebar" aria-expanded="false"
                                aria-controls="sidebar" class="side-nav-link">
                                <i class="bi bi-file-earmark-person"></i>
                                <span> Details </span>
                                <span class="menu-arrow"></span>
    
                            </a>
                            <div class="collapse" id="sidebar">
                                <ul class="side-nav-second-level">
                                    <!-- <li>
                                        <a href="/registration"> Registrations</a>
                                    </li> -->
                                    <li>
                                        <a href="/staff_details"> Staff Details</a>
                                    </li>
                                    <li>
                                        <a href="/technician_details"> Technician Details</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a href="/work_report" class="side-nav-link">
                                <i class="bi bi-bar-chart-line"></i>
                                <span> Work Report </span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <!-- <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"> -->
                                    <!-- item-->
                                    <!-- <a href="/switchToUser1" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a> -->

                                <!-- </div> -->
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </div>
                    <!-- end Topbar -->

                    <!-- three box --> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Task Proof</h4>
                                </div>
                            </div>
                        </div>     
                        

                        <!-- Table -->
                        <div class="row">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Status" style="width: 50%; font-size: 15px; padding: 12px 20px 12px 40px; border: .5px solid #ddd; margin-bottom: 12px;">
                                            <table class="table table-hover table-m table-nowrap" id="products-datatable">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>Request ID</th>
                                                        <th>Completed Date</th>
                                                        <th>Block</th>
                                                        <th>Room no.</th>
                                                        <th>House no.</th>
                                                        <th>Description</th>
                                                        <th>Status</th>
                                                        <th>Technician Assigned</th>
                                                        <th>Item list and Quantity</th>
                                                        <th>Image</th>
                                                        <th>Remark</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% var count = 0  %>
                                                    <% incidentRequests.forEach(function(incidentRequest){ %>
                                                        <% if(incidentRequest.assignedTechnician !== "" && incidentRequest.progress_status === "Completed" || incidentRequest.status === "Rejected" && incidentRequest.assignedTechnician !== ""){ %>
                                                            <% count++ %>
                                                            <tr>
                                                                <td><%= count%></td>
                                                                <td><%= incidentRequest.completeDate %></td>
                                                                <td>
                                                                    <% if (incidentRequest.block === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.block %>
                                                                      <% } %>
                                                                    </td>
                                                                  <td>
                                                                    <% if ( incidentRequest.roomNo === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.roomNo %>
                                                                      <% } %>
                                                                    </td>
                                                                  <td>
                                                                    <% if ( incidentRequest.houseNo === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.houseNo %>
                                                                      <% } %>
                                                                    </td>
                                                                <td><%= incidentRequest.description %></td>
                                                                <% if(incidentRequest.assignedTechnician !== "" && incidentRequest.status === "Completed"){ %>
                                                                    <td>Completed</td>
                                                                  <% }else{ %>
                                                                    <td>In progress</td>
                                                                  <% }%>
                                                                  <td><%= incidentRequest.assignedTechnician %></td>
                                                                  <td><%= incidentRequest.itemList %></td>
                                                                    <td>
                                                                  <a class="image-popup" href="<%= incidentRequest.imageUrl %>" style="color: blue;">
                                                                    <%= incidentRequest.imageUrl %>
                                                                  </a>
                                                                </td>
                                                                <td>
                                                                    <% if ( incidentRequest.remarks === "") { %>
                                                                        <em>null</em>
                                                                      <% } else { %>
                                                                        <%= incidentRequest.remarks %>
                                                                      <% } %>
                                                                    </td>
                                                                <td class="table-action">
                                                                    <% if (incidentRequest.status === "pending") { %>
                                                                        
                                                                        <button id="dialog-button" onclick="submitData('<%= incidentRequest._id %>')" class="btn btn-dark">
                                                                            <i class="bi bi-check-square"></i> 
                                                                        </button>
                                                                        <button id="rejectButton" onclick="openRejectModal('<%= incidentRequest._id %>')" class="btn btn-dark">
                                                                            <i class="bi bi-x-square"></i> 
                                                                        </button>
                                                                    <% } else if (incidentRequest.status === "Completed") { %>
                                                                        <p>Approved</p>
                                                                    <% } else { %>
                                                                        <p>Rejected</p>
                                                                    <% } %> 
                                                                </td>
                                                                
                                                                
                                                                <!-- Modal -->
                                                                <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="rejectModalLabel">Reject Request</h5>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <textarea id="rejectComment" name="remarks" class="form-control" rows="3" placeholder="Enter rejection comment"></textarea>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button id="submitRejectButton" type="button" class="btn btn-dark" onclick="rejectRequest()">Submit</button>
                                                                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="dialog-box">
                                                                    <div id="dialog-content">
                                                                        <div id="dialog-icon"></div>
                                                                        <h4 class="page-title">Work Approval</h4>
                                                                        <p>Are you sure you want to Approve?</p>
                                                                        <div id="dialog-buttons">
                                                                            <button id="dialog-ok-button" style="justify-items: center">Approve</button>
                                                                            <button id="dialog-cancel-button" style="justify-items: center">Cancel</button>
                                                                        </div>
                                                                    </div>
                                                                </div>                                                        
                                                            </tr> 
                                                        <% } %>  
                                                    <% }) %>                                                     
                                                </tbody>
                                            </table>                                  
                                        </div> <!-- end table-responsive-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                         </div>
                        <!-- end row-->
                        
                    </div> 
                    <!-- end of Table -->

                </div> <!-- content -->
               

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- Right Sidebar -->
        

            </div>
        </div>

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->

        <script>
            // const name = document.getElementById("name");
            // const email = document.getElementById("email");
            // const contact = document.getElementById("contact");
            // const memberType = document.getElementById("membertype");
            // const block = document.getElementById("block");
            // const roomNo = document.getElementById("roomNo");
            // const requestType = document.getElementById("requestType");
            // const requestDate = document.getElementById("requestDate");
            // const requestTime = document.getElementById("requestTime");
            // const description = document.getElementById("description");
            const itemList = document.getElementById("itemList");
            const completeDate = document.getElementById("completeDate");
            const completeTime = document.getElementById("completeTime");
            const image = document.getElementById("image");
    
        
            const dialogButton = document.getElementById('dialog-button');
            const dialogBox = document.getElementById('dialog-box');
            const dialogOkButton = document.getElementById('dialog-ok-button');
            const dialogCancelButton = document.getElementById('dialog-cancel-button');
        
            let shouldRedirect = false; // Variable to track whether to redirect or not
        
            dialogButton.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent the default form submission
                if (image.value !== "" && itemList.value !== "") {
                    dialogBox.style.display = 'flex';
                    shouldRedirect = true; // Enable redirection by default
                }
            });
        
            dialogOkButton.addEventListener('click', () => {
                console.log('OK button clicked');
                // Perform any necessary actions before redirecting
                if (shouldRedirect) {
                    window.location.href = "/taskproof"; // Replace "/userdashboard" with the desired page URL
                }
            });
        
            dialogCancelButton.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent form submission
                console.log('Cancel button clicked');
                dialogBox.style.display = 'none';
                shouldRedirect = false;
                
            });
        </script>

        <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("products-datatable");
              tr = table.getElementsByTagName("tr");            
              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[6];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
            </script>
        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->

        <!-- third party js -->
        <script src="../assets/js/vendor/jquery.dataTables.min.js"></script>
        <script src="../assets/js/vendor/dataTables.bootstrap5.js"></script>
        <script src="../assets/js/vendor/dataTables.responsive.min.js"></script>
        <script src="../assets/js/vendor/responsive.bootstrap5.min.js"></script>
        <script src="../assets/js/vendor/dataTables.checkboxes.min.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.customers.js"></script>
        <!-- end demo js-->

      
        <!-- third party js ends -->
    <script>
    function openRejectModal(requestId) {
    // Open the reject modal
    $('#rejectModal').modal('show');

    // Set the request ID as a data attribute on the submit button
    $('#submitRejectButton').data('requestId', requestId);
    }

    function rejectRequest() {
    // Get the rejection comment from the textarea
    const rejectionComment = $('#rejectComment').val();

    // Get the request ID from the data attribute of the submit button
    const requestId = $('#submitRejectButton').data('requestId');

    // Make an AJAX request to the server to submit the rejection comment
    fetch('/Rejecttaskproof', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ requestId: requestId, rejectionComment: rejectionComment })
    })
    .then(response => {
        if (response.ok) {
            // Handle the response from the server
            console.log(response);
            // Redirect to the technician dashboard or perform any other necessary actions
            window.location.href = '/taskproof';
        } else {
            // Handle any errors that occur during the request
            console.error('Error:', response.statusText);
        }
    })
    .catch(error => {
        // Handle network or other errors
        console.error('Error:', error);
    });

    // Close the reject modal
    $('#rejectModal').modal('hide');
}

        </script>
        
        
        <script>
        function submitData(value) {
            // Show the dialog box
            dialogBox.style.display = 'flex';
        
            dialogOkButton.addEventListener('click', () => {
                // Make an AJAX request to the server
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/taskproof');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        window.location.href = `/taskproof`;
                        // Handle the response from the server
                        console.log(xhr.responseText);
                    } else {
                        // Handle any errors that occur during the request
                        console.error(xhr.statusText);
                    }
                };
                xhr.send(JSON.stringify({ data: value }));
            });
        
            dialogCancelButton.addEventListener('click', () => {
                dialogBox.style.display = 'none';
            });
        }
    </script>
        
        <!-- <script>
            function submitData(value) {
              // Make an AJAX request to the server
              const xhr = new XMLHttpRequest();
              xhr.open('POST', '/taskproof');
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onload = function() {
                if (xhr.status === 200) {
                    window.location.href = `/taskproof`;
                  // Handle the response from the server
                  console.log(xhr.responseText);
                } else {
                  // Handle any errors that occur during the request
                  console.error(xhr.statusText);
                }
              };
              xhr.send(JSON.stringify({ data: value }));
            }
          </script> -->

          <script>
           $(document).ready(function() {
            // Add a click event listener to the image link
            $('.image-popup').on('click', function(event) {
                event.preventDefault();
                var imageUrl = $(this).attr('href');

                // Create a Bootstrap modal
                var modal = $('<div class="modal image-popup-modal" tabindex="-1" role="dialog">' +
                            '<div class="modal-dialog" role="document">' +
                            '<div class="modal-content image-popup-content">' +
                            '<span class="image-popup-close">&times;</span>' +
                            '<div class="modal-body">' +
                            '<img src="uploads/' + imageUrl + '" class="img-fluid">' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>');

                // Add close button functionality
                modal.find('.image-popup-close').on('click', function() {
                modal.modal('hide');
                });

                // Show the modal
                modal.modal('show');
            });
            });
          </script>
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
          
    </body>
</html>
