<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Work Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

     <!-- third party css -->
     <link href="../assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css">
     <link href="../assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css">
     <!-- third party css end -->
     <!-- <link href="../assets/css/style.css" rel="stylesheet"> -->
     <link href="../assets/css/graph.css" rel="stylesheet">


    <!-- App css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    

</head>

<body class="loading"
    data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="/managerDashboard" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="../images/Homepagelo.png" alt="" height="90">
                </span>
                
            </a>


            <div class="h-100" id="leftside-menu-container" data-simplebar="">

                <!--- Navigation -->
                <ul class="side-nav">
                    <li class="side-nav-item">
                        <a href="/managerDashboard" class="side-nav-link">
                            <i class="bi bi-grid-1x2"></i>
                            <span> Dashboard</span>
                        </a>
                    </li>
                    <!-- <li class="side-nav-item">
                        <a href="/incident_request" class="side-nav-link">
                            <i class="bi bi-calendar"></i>
                            <span> Incident Request</span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/service_request" class="side-nav-link">
                            <i class="bi bi-gear"></i>
                            <span> Service Request </span>
                        </a>
                    </li> -->
                    <li class="side-nav-item" aria-current="page">
                        <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
                            aria-controls="sidebarEcommerce" class="side-nav-link">
                            <i class="bi bi-file-text"></i>
                            <span> Requests </span>
                            <span class="menu-arrow"></span>

                        </a>
                        <div class="collapse" id="sidebarEcommerce">
                            <ul class="side-nav-second-level">
                                
                                <li>
                                    <a href="/incident_request">Incident Request</a>
                                </li>
                                <li>
                                    <a href="/service_request">Service Request</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="side-nav-item">
                        <a href="/taskproof" class="side-nav-link">
                            <i class="bi bi-clipboard"></i>
                            <span> Task Proof </span>
                        </a>
                    </li>
                    <!-- <li class="side-nav-item">
                        <a href="/staff_details" class="side-nav-link">
                            <i class="bi bi-file-text"></i>
                            <span>Staff Details</span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="/technician_details" class="side-nav-link">
                            <i class="bi bi-file-text"></i>
                            <span> Technician Details </span>
                        </a>
                    </li> -->
                    <li class="side-nav-item">
                        <a data-bs-toggle="collapse" href="#sidebar" aria-expanded="false"
                            aria-controls="sidebar" class="side-nav-link">
                            <i class="bi bi-file-earmark-person"></i>
                            <span> Details </span>
                            <span class="menu-arrow"></span>

                        </a>
                        <div class="collapse" id="sidebar">
                            <ul class="side-nav-second-level">
                                <!-- <li>
                                    <a href="/registration"> Registrations</a>
                                </li> -->
                                <li>
                                    <a href="/staff_details"> Staff Details</a>
                                </li>
                                <li>
                                    <a href="/technician_details"> Technician Details</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="side-nav-item active" aria-current="page">
                        <a href="/work_report" class="side-nav-link">
                            <i class="bi bi-bar-chart-line"></i>
                            <span> Work Report </span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="/logout" class="side-nav-link ">
                            <i class="bi bi-box-arrow-right"></i>
                            <span> Logout </span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name"><%= data.name %></span>
                                    <span class="account-position"><%= data.email %></span>
                                </span>
                            </a>
                            <!-- <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"> -->
                                <!-- item-->
                                <!-- <a href="/switchToUser1" class="dropdown-item notify-item"><i class="mdi mdi-logout me-1"></i><span>Switch As User</span></a> -->

                            <!-- </div> -->
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>

                </div>
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Work Report</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                                <div class="card1 " >
                                    <div class="card-body1">
                                        <div class="row align-items-center">
                                            <div class="card-body text-center">
                                                <i class="bi bi-file-earmark-text text-muted" style="font-size: 24px;"></i>
                                                 <!-- icon tshu ma tub, will change later --> 
                                                <h3><span><%= requestCount %></span></h3>
                                                <p class="text-muted font-13 mb-0">Total Requests Received</p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                                <br>
                            </div> <!-- end col -->
                        

                            <div class="col-lg-6 col-xl-3">
                                <div class="card2">
                                    <div class="card-body1">
                                        <div class="row align-items-center">
                                            <div class="card-body text-center">
                                                <i class="bi bi-file-earmark-x text-muted" style="font-size: 24px;"></i>
                                                 <!-- icon tshu ma tub, will change later --> 
                                                <h3><span><%= pending %></span></h3>
                                                <p class="text-muted font-13 mb-0">Pending Requests</p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                                <br>
                            </div> <!-- end col -->

                            <div class="col-lg-6 col-xl-3">
                                <div class="card3">
                                    <div class="card-body1">
                                        <div class="row align-items-center">
                                            <div class="card-body text-center">
                                                <i class="bi bi-file-earmark-arrow-up text-muted" style="font-size: 24px;"></i>
                                                 <!-- icon tshu ma tub, will change later --> 
                                                <h3><span><%= inProgress %></span></h3>
                                                <p class="text-muted font-13 mb-0">Inprogress Requests</p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                                <br>
                            </div> <!-- end col -->

                            <div class="col-lg-6 col-xl-3">
                                <div class="card4">
                                    <div class="card-body1">
                                        <div class="row align-items-center">
                                            <div class="card-body text-center">
                                                <i class="bi bi-file-earmark-check text-muted" style="font-size: 24px;"></i>
                                                 <!-- icon tshu ma tub, will change later --> 
                                                <h3><span><%= done %></span></h3>
                                                <p class="text-muted font-13 mb-0">Requests Completed</p>
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card -->
                            </div> <!-- end col -->
                        </div>
                        <!-- end col-->

                        <div class="col-12 mx-auto">
                            <br>

                            <div class="card">
                                <div class="card-header">Graph</div>
                                <div class="card-body">
                                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div>
                                    <canvas id="chart-line" width="1500" height="400" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                                </div>
                            </div>
                        </div>
                        
                        <!-- end col-->
                    </div>
                    <!-- end row-->

                </div> <!-- container -->
         
                <div class="card">
                    <div class="card-body2">
                      <div class="row ms-3 align-items-center">
                        <div class="col-md-4">
                            <div class="my-2">
                              <input type="date" placeholder="Start Date:" class="form-control" id="start-date" pattern="\d{4}/\d{2}/\d{2}" required>
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                            <div class="my-2">
                              <input type="date" placeholder="End Date:" class="form-control" id="end-date" pattern="\d{4}/\d{2}/\d{2}" required>
                            </div>
                          </div>
                  
                        <div class="col-md-4">
                          <div class="my-2">
                            <input class="btn btn-dark" id="generate-report-btn" disabled value="Generate Report">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                
                                <li class="nav-item">
                                    <a href="#aboutme" data-bs-toggle="tab" aria-expanded="false"
                                        class="nav-link rounded-0 ">
                                        Total Request
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#timeline" data-bs-toggle="tab" aria-expanded="true"
                                        class="nav-link rounded-0 active">
                                        Pending Request
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#inprogress" data-bs-toggle="tab" aria-expanded="false"
                                        class="nav-link rounded-0">
                                        Inprogress Request
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#settings" data-bs-toggle="tab" aria-expanded="false"
                                        class="nav-link rounded-0">
                                        Requests Completed
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="tab-content">
                                <div class="tab-pane" id="aboutme">
                                    <!-- Table -->
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    
                                                    <table class="table table-hover table-m table-nowrap" id="products-datatable">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Request ID</th>
                                                                <th>Name</th>
                                                                <th>Request Date</th>
                                                                <th>Email</th>
                                                                <th>Contact No</th>
                                                                <th>Member Type</th>
                                                                <th>Request Type</th>
                                                                <th>Block</th>
                                                                <th>Room no.</th>
                                                                <th>House no.</th>
                                                                <!-- <th>Assigned</th> -->
                                                                <!-- <th>Complete Date</th> -->
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% var count = 0 %>
                                                            <% requests.forEach(function(request){ %>
                                                                <% count++ %>
                                                                <tr>
                                                                    <td><%= count %></td>
                                                                    <td><%= request.name %></td>
                                                                    <td><%= request.requestDate %></td>
                                                                    <td><%= request.email %></td>
                                                                    <td><%= request.contactNo %></td>
                                                                    <td><%= request.memberType %></td>
                                                                    <td><%= request.requestType %></td>
                                                                    <td>
                                                                        <% if (request.block === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.block %>
                                                                          <% } %>
                                                                        </td>
                                                                      <td>
                                                                        <% if ( request.roomNo === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.roomNo %>
                                                                          <% } %>
                                                                        </td>
                                                                      <td>
                                                                        <% if ( request.houseNo === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.houseNo %>
                                                                          <% } %>
                                                                        </td>
                                                                    <!-- <td><%= request.assignedTechnician %></td>
                                                                    <td><%= request.completeDate %></td>                                                            -->
                                                                    <td>
                                                                        <p><%= request.description %></p>
                                                                    </td>
                                                                </tr>
                                                            <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div> <!-- end table-responsive-->
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div>
                                    <!-- end row-->
                                </div> <!-- end tab-pane -->
                                <!-- end about me section content -->

                                <div class="tab-pane show active" id="timeline">
                                    <!-- Table -->
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-m table-nowrap"  id="products-datatable">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Request ID</th>
                                                                <th>Name</th>
                                                                <th>Request Date</th>
                                                                <th>Email</th>
                                                                <th>Contact No</th>
                                                                <th>Member Type</th>
                                                                <th>Request Type</th>
                                                                <th>Block</th>
                                                                <th>Room no.</th>
                                                                <th>House no.</th>
                                                                <!-- <th>Assigned</th> -->
                                                                <!-- <th>Date</th> -->
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% var count = 0 %>
                                                            <% requests.forEach(function(request){ %>
                                                                <% if(request.assignedTechnician === ""){ %>                                                                    
                                                                    <% count++ %>
                                                                <tr>
                                                                    <td><%= count %></td>
                                                                    <td><%= request.name %></td>
                                                                    <td><%= request.requestDate %></td>                                                           
                                                                    <td><%= request.email %></td>
                                                                    <td><%= request.contactNo %></td>
                                                                    <td><%= request.memberType %></td>
                                                                    <td><%= request.requestType %></td>
                                                                    <td>
                                                                        <% if (request.block === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.block %>
                                                                          <% } %>
                                                                        </td>
                                                                      <td>
                                                                        <% if ( request.roomNo === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.roomNo %>
                                                                          <% } %>
                                                                        </td>
                                                                      <td>
                                                                        <% if ( request.houseNo === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.houseNo %>
                                                                          <% } %>
                                                                        </td>
                                                                    <!-- <td><%= request.assignedTechnician %></td> -->
                                                                    <!-- <td><%= request.date %></td>                                                            -->
                                                                    <td>
                                                                        <p><%= request.description %></p>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                            <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div> <!-- end table-responsive-->
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div>
                                    <!-- end row-->
                                </div>

                                <div class="tab-pane" id="inprogress">
                                    <!-- Table -->
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-m table-nowrap">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Request ID</th>
                                                                <th>Name</th>
                                                                <th>Request Date</th>
                                                                <th>Email</th>
                                                                <th>Contact No</th>
                                                                <th>Member Type</th>
                                                                <th>Request Type</th>
                                                                <th>Block</th>
                                                                <th>Room no.</th>
                                                                <th>House no.</th>
                                                                <th>Assigned</th>
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% var count = 0 %>
                                                            <% requests.forEach(function(request){ %>
                                                                <% if(request.assignedTechnician !== "" && request.status === "pending" || request.assignedTechnician !== "" && request.progress_status === "pending"){ %>
                                                                    <% count++ %>
                                                                    <tr>
                                                                        <td><%= count %></td>
                                                                        <td><%= request.name %></td>
                                                                        <td><%= request.requestDate %></td>
                                                                        <td><%= request.email %></td>
                                                                        <td><%= request.contactNo %></td>
                                                                        <td><%= request.memberType %></td>
                                                                        <td><%= request.requestType %></td>
                                                                        <td>
                                                                            <% if (request.block === "") { %>
                                                                                <em>null</em>
                                                                              <% } else { %>
                                                                                <%= request.block %>
                                                                              <% } %>
                                                                            </td>
                                                                          <td>
                                                                            <% if ( request.roomNo === "") { %>
                                                                                <em>null</em>
                                                                              <% } else { %>
                                                                                <%= request.roomNo %>
                                                                              <% } %>
                                                                            </td>
                                                                          <td>
                                                                            <% if ( request.houseNo === "") { %>
                                                                                <em>null</em>
                                                                              <% } else { %>
                                                                                <%= request.houseNo %>
                                                                              <% } %>
                                                                            </td>
                                                                        <td><%= request.assignedTechnician %></td>
                                                                        <td>
                                                                            <p><%= request.description %></p>
                                                                        </td>
                                                                    </tr>
                                                                <% } %>
                                                            <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div> <!-- end table-responsive-->
                                            </div> <!-- end card-body-->
                                        </div> <!-- end card-->
                                    </div>
                                    <!-- end row-->
                                </div>
                    

                                <!-- end timeline content-->

                                <div class="tab-pane" id="settings">
                                    <!-- Table -->
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-m table-nowrap"  id="products-datatable">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Request ID</th>
                                                                <th>Name</th>
                                                                <th>Request Date</th>
                                                                <th>Email</th>
                                                                <th>Contact No</th>
                                                                <th>Member Type</th>
                                                                <th>Request Type</th>
                                                                <th>Block</th>
                                                                <th>Room no.</th>
                                                                <th>House no.</th>
                                                                <th>Assigned</th>
                                                                <th>Complete Date</th>
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% var count = 0 %>
                                                            <% requests.forEach(function(request){ %>
                                                                <% if(request.status === "Completed"){ %>
                                                                    <% count++ %>
                                                                <tr>
                                                                    <td><%= count %></td>
                                                                    <td><%= request.name %></td>
                                                                    <td><%= request.requestDate %></td>                                                           
                                                                    <td><%= request.email %></td>
                                                                    <td><%= request.contactNo %></td>
                                                                    <td><%= request.memberType %></td>
                                                                    <td><%= request.requestType %></td>
                                                                    <td>
                                                                        <% if (request.block === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.block %>
                                                                          <% } %>
                                                                        </td>
                                                                      <td>
                                                                        <% if ( request.roomNo === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.roomNo %>
                                                                          <% } %>
                                                                        </td>
                                                                      <td>
                                                                        <% if ( request.houseNo === "") { %>
                                                                            <em>null</em>
                                                                          <% } else { %>
                                                                            <%= request.houseNo %>
                                                                          <% } %>
                                                                        </td>
                                                                    <td><%= request.assignedTechnician %></td>
                                                                    <td><%= request.completeDate %></td>                                                           
                                                                    <td>
                                                                        <p><%= request.description %></p>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                            <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div> <!-- end table-responsive-->
                                            </div> <!-- end card-body-->

                                        </div> <!-- end card-->
                                    </div>

                                    <!-- end row-->
                                </div>
                            </div> <!-- end tab-content -->
                        </div> <!-- end card body -->
                    </div> <!-- end card -->
                </div> <!-- end col -->


            </div> <!-- content -->

        </div>


        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © EISM
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- bundle -->
    <script src="../assets/js/vendor.min.js"></script>
    <script src="../assets/js/app.min.js"></script>

    <!-- third party:js -->
    <script src="../assets/js/vendor/apexcharts.min.js"></script>
    <!-- third party end -->

    <!-- demo:js -->
    <script src="../assets/js/pages/demo.apex-pie.js"></script>
    <!-- demo end -->

    <!-- third party js -->
    <script src="../assets/js/vendor/jquery.dataTables.min.js"></script>
    <script src="../assets/js/vendor/dataTables.bootstrap5.js"></script>
    <script src="../assets/js/vendor/dataTables.responsive.min.js"></script>
    <script src="../assets/js/vendor/responsive.bootstrap5.min.js"></script>
    <script src="../assets/js/vendor/dataTables.checkboxes.min.js"></script>
    <!-- third party js ends -->


    <!-- demo app -->
    <script src="../assets/js/pages/demo.customers.js"></script>
 
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const generateReportBtn = document.querySelector('#generate-report-btn');
          const startDateInput = document.querySelector('#start-date');
          const endDateInput = document.querySelector('#end-date');
      
          // Function to display a popup message
          function showMessage(message) {
            // Replace this with your preferred way of displaying the message to the user
            alert(message);
          }
      
          // Get the current date
          const currentDate = new Date().toISOString().split("T")[0];
      
          // Set the maximum value for the input fields
          startDateInput.setAttribute("max", currentDate);
          endDateInput.setAttribute("max", currentDate);
      
          generateReportBtn.addEventListener('click', () => {
            const startDate = startDateInput.value;
            const endDate = endDateInput.value;
        
      
            // Check if start date and end date are selected
            if (!startDate || !endDate) {
              showMessage('Please select the start and end dates.');
              return;
            }
      
            const url = `/download?startDate=${startDate}&endDate=${endDate}`;
            fetch(url)
              .then(response => response.blob())
              .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = `requests_${startDate}_to_${endDate}.csv`;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
              })
              .catch(error => {
                console.error('An error occurred while generating the report:', error);
              });
          });
      
          // Disable the generate report button initially
          generateReportBtn.disabled = true;
      
          // Enable the generate report button when both start and end dates are selected
          startDateInput.addEventListener('change', () => {
            generateReportBtn.disabled = !startDateInput.value || !endDateInput.value;
          });
      
          endDateInput.addEventListener('change', () => {
            generateReportBtn.disabled = !startDateInput.value || !endDateInput.value;
          });
        });
      </script>
   
    

    <!-- end demo js-->
    <!-- <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->


    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
    <script>
    // Create an array of data points for the doughnut pie chart
    var doughnutChartData = [
  { label: 'Pending Requests', value: '<%= pending %>' },
  { label: 'Inprogress Requests', value: '<%= inProgress %>' },
  { label: 'Requests Completed', value: '<%= done %>' }
];
    
    // Get the graph canvas element
    var graphCanvas = document.getElementById('chart-line');
    
    // Create a Chart.js chart
    var chart = new Chart(graphCanvas, {
      type: 'doughnut',
      data: {
        labels: doughnutChartData.map(item => item.label),
        datasets: [{
          label: 'Statistics',
          data: doughnutChartData.map(item => item.value),
          backgroundColor: [
            // 'rgba(0, 123, 255, 0.5)', // Customize the color for the first data point
            'rgba(199, 0, 57, 1)', // Customize the color for the second data point
            'rgba(249, 74, 41, 1)', // Customize the color for the third data point
            'rgba(249, 148, 23, 1)' // Customize the color for the fourth data point
          ],
          borderColor: [
            // 'rgba(0, 123, 255, 1)', // Customize the border color for the first data point
            'rgba(214, 19, 85, 1)', // Customize the border color for the second data point
            'rgba(249, 74, 41, 1)', // Customize the border color for the third data point
            'rgba(249, 148, 23, 1)' // Customize the border color for the fourth data point
          ],
          borderWidth: 1 // Customize the border width for the data points
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom'
          },
          tooltip: {
            enabled: true
          }
        },
        layout: {
          padding: {
            top: 20
          }
        },
        cutout: '70%', // Adjust the size of the doughnut hole
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    });
</script>

</body>

</html>