<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css">         -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" id="light-style">

</head>
<body>
  <div class="form-gap"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h3 class="text-center">Forgot Password?</h3>
              <p>You can reset your password here.</p>
              <div class="panel-body">

                <form id="register-form" action="/forgot-password" role="form" autocomplete="off" class="form" method="post">

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                      <input id="email" name="email" placeholder="email address" class="form-control" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-block" value="Reset Password" type="submit">
                  </div>

                  <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
                    <div class="alert alert-danger">
                      <%= errorMessage %>
                    </div>
                  <% } %>

                  <input type="hidden" class="hide" name="token" id="token" value="">
                </form>
                

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>