<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <title>Login</title>
</head>
<body>

    <!----------------------- Main Container -------------------------->

     <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

       <div class="row border rounded-5 p-3 bg-white shadow box-area">

    <!-------------------- ------ Right Box ---------------------------->
     <div class=" d-flex justify-content-center">
       <div class="col-md-6 ">
          <div class="row ">
          
            
            <form action="/" method="POST">
             
                <div class="text-center">
                    <img src="../images/loginlo.png" class="img-fluid" style="width: 250px;" alt="logo">
                </div>
                
                <!-- <% if (typeof message !== 'undefined') { %>
                  <h4 class="alert alert-danger" id="box" style="color:#dbdceb; background-color: #323c8d; padding: 10px;"><%= message %></h4>
                <% } %> -->

                <% if (typeof message !== 'undefined' && message) { %>
                  <div class="alert alert-danger" id="box">
                    <%= message %>
                  </div>
                <% } %>
                
                <div class="input-group mb-3">
                    <!-- <input type="email" class="form-control form-control-lg bg-light fs-6" name="email" placeholder="Email" required> -->
                    <input type="text" class="form-control form-control-lg bg-light fs-6" name="email" placeholder="College email" required>

                </div>
                <div class="input-group mb-1">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" name="password" placeholder="Password" required>
                    <div class="input-group-text">
                      <span class="password-toggle-icon" onclick="togglePasswordVisibility()">
                        <i id="password-toggle-icon" class="fas fa-eye-slash"></i>
                      </span>
                    </div>
                  </div>
                  
                <div class="input-group mb-5 d-flex justify-content-between">
                    <div class="form-check">
                        <!-- <input type="checkbox" class="form-check-input" id="formCheck">
                        <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label> -->
                    </div>
                    <div class="forgot">
                        <small><a href="/forgot-password">Forgot Password?</a></small>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="submit" value = "Login"class="btn btn-lg btn-dark w-100 fs-6" color/>
                </div>
                    
            </form>
                
          </div>
       </div> 

      </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script>
    function togglePasswordVisibility() {
      const passwordInput = document.querySelector('input[name="password"]');
      const icon = document.querySelector('.password-toggle-icon i');
      
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text'; // Show password
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
      } else {
        passwordInput.type = 'password'; // Hide password
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
      }
    }
  </script>
  <script>
    var messageElement = document.getElementById('box');
    if (messageElement) {
      setTimeout(function() {
        messageElement.parentNode.removeChild(messageElement);
      }, 3000); // Remove the message after 3 seconds (3000 milliseconds)
    }
  </script>
  
</body>
</html>