<!DOCTYPE html>
<html>
<head>
  <title>Reset Password Success</title>
</head>
<body>
  <h1>Successfully Changed Your Password</h1>
  <!-- <p>An email with instructions to reset your password has been sent to your email address. Please check your inbox and follow the instructions.</p> -->
</body>
</html>