<!-- <!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form action="/reset-password" method="post">
    <input type="password" name="password" placeholder="New Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <input type="hidden" name="token" value="<%= token %>">
    <button type="submit">Reset Password</button>
  </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" id="light-style">

</head>
<body>
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="text-center">
                      <h3><i class="fa fa-lock fa-4x"></i></h3>
                      <h2 class="text-center">Reset Password</h2>
                      <!-- <p>You can reset your password here.</p> -->
                      <div class="panel-body">
        
                        <!-- <form action="/reset-password" id="register-form" role="form" autocomplete="off" class="form" method="post">
        
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                              <input id="email" name="password" placeholder="New Password" class="form-control"  type="password">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input id="email" name="confirmPassword" placeholder="Confirm Password" class="form-control"  type="password">
                              </div>
                          </div>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-block" value="Reset Password" type="submit">
                          </div>
                          
                          <input type="hidden" class="hide" name="token" id="token" value="<%= token %>"> 
                        </form> -->
                        <form action="/reset-password" id="register-form" role="form" autocomplete="off" class="form" method="post">
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                              <input id="password" name="password" placeholder="New Password" class="form-control" type="password">
                              <span class="input-group-addon toggle-password" onclick="togglePasswordVisibility('password')">
                                <i class="fa fa-eye"></i>
                              </span>
                            </div>
                            <br>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                              <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="form-control" type="password">
                              <span class="input-group-addon toggle-password" onclick="togglePasswordVisibility('confirmPassword')">
                                <i class="fa fa-eye"></i>
                              </span>
                            </div>
                          </div>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-block" value="Reset Password" type="submit" disabled>
                          </div>
                          <input type="hidden" class="hide" name="token" id="token" value="<%= token %>">
                          <div id="password-error" style="color: red;"></div>
                        </form>
                        
                        
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <script>
      // Function to check if the password meets the required format
function isPasswordValid(password) {
  // Add your desired password format validation logic here
  // For example, check if the password contains at least one letter, one symbol, and is at least 8 characters long
  var letterRegex = /[a-zA-Z]/;
  var symbolRegex = /[!@#$%^&*(),.?":{}|<>]/;
  return letterRegex.test(password) && symbolRegex.test(password) && password.length >= 8;
}

// Function to enable/disable the submit button based on password validation
function validatePassword() {
  var passwordInput = document.getElementById("password");
  var confirmPasswordInput = document.getElementById("confirmPassword");
  var passwordError = document.getElementById("password-error");
  var submitButton = document.querySelector("input[name='recover-submit']");

  if (passwordInput.value === confirmPasswordInput.value && isPasswordValid(passwordInput.value)) {
    passwordError.textContent = ""; // Clear any existing error message
    submitButton.disabled = false; // Enable the submit button
  } else {
    if (passwordInput.value.length < 8) {
      passwordError.textContent = "Password must be at least 8 characters long.";
    } else {
      passwordError.textContent = "Password must contain at least one letter, one symbol, and be at least 8 characters long.";
    }
    submitButton.disabled = true; // Disable the submit button
  }
}

// Add event listeners to password inputs
document.getElementById("password").addEventListener("input", validatePassword);
document.getElementById("confirmPassword").addEventListener("input", validatePassword);

    </script>
    <script>
      function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        var toggleButton = document.querySelector('#' + fieldId + ' + .toggle-password i');
    
        if (field.type === 'password') {
          field.type = 'text';
          toggleButton.classList.remove('fa-eye');
          toggleButton.classList.add('fa-eye-slash');
        } else {
          field.type = 'password';
          toggleButton.classList.remove('fa-eye-slash');
          toggleButton.classList.add('fa-eye');
        }
      }
    </script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
</body>
</html>