<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Submit Request</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="../assets/images/favicon.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  


        <!-- App css -->
        <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
        <link href="../assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">
        <!-- <link rel="stylesheet" href="../assets/css/style.css"> -->
        <link rel="stylesheet" href="../assets/css/alert.css">

    </head>

    <body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">
    
                <!-- LOGO -->
            <a href="/userdashboard" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="../images/Homepagelo.png" alt="" height="90">
                </span>
            </a>
            <br>
    
                <div class="h-100" id="leftside-menu-container" data-simplebar="">

                    <!--- Navigation -->
                    <ul class="side-nav">
                        <li class="side-nav-item">
                            <a href="/userdashboard"  class="side-nav-link">
                                <i class="bi bi-grid-1x2"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <li class="side-nav-item active" aria-current="page">
                            <a href="/submitrequest" class="side-nav-link">
                                <i class="bi bi-file-earmark-text"></i>
                                <span> Submit Requests </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/workstatus" class="side-nav-link">
                                <i class="bi bi-file-earmark-check"></i>
                                <span> Work Status </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a href="/logout" class="side-nav-link ">
                                <i class="bi bi-box-arrow-right"></i>
                                <span> Logout </span>
                            </a>
                        </li>
        
                    </ul>

                </div>
                <!--  end of Navigation -->
            </div>
            
            <div class="content-page">
                <div class="content">
                    <!-- Username and logout -->
                    <div class="navbar-custom">
                        <ul class="list-unstyled topbar-menu float-end mb-0">
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar"> 
                                        <img src="../assets/images/image.jpeg" alt="user-image" class="rounded-circle">
                                    </span>
                                    <span>
                                        <span class="account-user-name"><%= data.name %></span>
                                        <span class="account-position"><%= data.email %></span>
                                    </span>
                                </a>
                                <div class="">
                                    <!-- item-->
                                    <!-- <a href="/logout" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Logout</span>
                                    </a> -->
                                </div>
                            </li>
                        </ul>
                        <!-- end of Username and logout -->
                        <!-- Search -->
                        <button class="button-menu-mobile open-left">
                            <i class="mdi mdi-menu"></i>
                        </button>

                    </div>
                    <!-- end of search -->
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <br>
                            <br>
                            <div class="card">
                                <div class="card-body text-centered">

                                  <br>

                                    <!-- Steps Information -->
                                    <div class="tab-content">

                                        <!-- Billing Content-->
                                        <div class="tab-pane show active" id="billing-information">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8 ">
                                                    <h4 class="mt-2">Request Form</h4>

                                                    <p class="text-muted2 mb-4">Fill the form below to request for services.</p>

                                                    <form action="/submitrequest" method="POST">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="billing-first-name" class="form-label">Name</label>
                                                                    
                                                                    <input class="form-control" name="name" value="<%= data.name %>" id="name" readonly>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="billing-last-name" class="form-label">Email</label>
                                                                    <input class="form-control" name="email" value="<%= data.email %>" id="email" readonly>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-3">
                                                                    <label for="billing-address" class="form-label">Contact no.</label>
                                                                    <input class="form-control" name="contact" value="<%= data.contact %>" id="contact" required>
                                                                    <div id="contactError" class="text-danger"></div>

                                                                    <!-- <input class="form-control" type="text" placeholder="xxxxxxxx" id="billing-address"> -->
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-3">
                                                                    <label class="form-label" >Member Type</label>
                                                                    <select id="memberType" data-toggle="select2" required="true" name="memberType" title="Member Type">
                                                                        <!-- <option value="0">Select Member Type</option> -->
                                                                        <option value="Student">Student</option>                                   
                                                                        <option value="Staff">Staff</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <label><em>Location</em></label> <br>
                                                            <div class="col-md-4">
                                                                <div class="mb-3">
                                                                   
                                                                    <label for="billing-email-address" class="form-label">Block </label>
                                                                    <input id="block" class="form-control" name="block" type="text" placeholder="Enter your Block" id="billing-email-address"maxlength="3">
                                                                    <div id="blockError" class="text-danger"></div>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="mb-3">
                                                                    <label for="billing-phone" class="form-label">Room no.</label>
                                                                    <input id="roomNo" class="form-control" name="roomNo" type="text" placeholder="Enter your Room no." id="billing-phone" maxlength="4">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="mb-3">
                                                                    <label for="billing-phone" class="form-label">House no.</label>
                                                                    <input id="houseNo" class="form-control" name="houseNo" type="text" title="*This house no is mainly for the Staff!" placeholder="Enter your House no." id="billing-phone" maxlength="8">
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="mb-3">
                                                                    <label for="billing-address"  class="form-label">Request Type</label>
                                                                    <select id="requestType" data-toggle="select2" required="true" name="requestType" title="Member Type">
                                                                        <!-- <option value="0">Select Request Type</option> -->
                                                                        <option value="Incident">Incident (Break fix)</option>
                                                                        <option value="Service">Service (Installation)</option>                                   
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div> <!-- end row -->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                              <div class="mb-3">
                                                                <label for="billing-email-address" class="form-label">Request Date</label>
                                                                <input id="requestDate" class="form-control" type="date" name="requestDate" readonly>
                                                              </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <div class="mb-3">
                                                                <label for="billing-phone" class="form-label">Request Time</label>
                                                                <input id="requestTime" class="form-control" type="time" name="requestTime" readonly>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-13">
                                                            <div class="mb-3 mt-3">
                                                              <label for="example-textarea" class="form-label">Description:</label>
                                                              <textarea id="description" class="form-control" id="example-textarea" name="description" rows="3" placeholder="Write some note.." maxlength="100" required></textarea>
                                                              <div id="descriptionError" class="text-danger"></div>
                                                            </div>
                                                          </div>

                                                          <div class="row mt-12">
                                                            <div class="col-sm-12">
                                                              <div class="text-sm-end">
                                                                <input id="dialog-button" value="Submit" class="btn btn-dark" readonly>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        <div id="dialog-box">
                                                            <div id="dialog-content">
                                                                <div id="dialog-icon"></div>
                                                                <h4 class="title-page">Submit Request</h4>
                                                                <p>Are you sure you want to submit?</p>
                                                                <div id="dialog-buttons">
                                                                    <button id="dialog-ok-button" style="justify-items: center">Submit</button>
                                                                    <button id="dialog-cancel-button" style="justify-items: center">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>          
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Billing Information Content-->

                                                        <!-- end table-responsive -->
                                                    </div> <!-- end .border-->
        
                                                </div> <!-- end col -->            
                                            </div> <!-- end row-->
                                        </div>
                                        <!-- End Payment Information Content-->

                                    </div> <!-- end tab content-->

                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row-->
                    

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © EISM
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->
        <div class="rightbar-overlay"></div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
            $("#dialog-button").click(function(e) {
                var contact = $("#contact").val();
                var description = $("#description").val();
                var block = $("#block").val();
                var phonenumberRegex = /^17[0-9]{6}|77[0-9]{6}$/g;

                if (contact.trim() === "") {
                    e.preventDefault();
                    $("#contactError").text("*Contact field must be filled.");
                } else if (!phonenumberRegex.test(contact)) {
                    e.preventDefault();
                    $("#contactError").text("*Contact number should be in the format 17xxxxxx or 77xxxxxx.");
                } else {
                    $("#contactError").text("");
                }

                if (description.trim() === "") {
                    e.preventDefault();
                    $("#descriptionError").text("*Description is required.");
                } else {
                    $("#descriptionError").text("");
                }

                if (block.trim() === "") {
                    e.preventDefault();
                    $("#blockError").text("*Block field must be filled.");
                } else {
                    $("#blockError").text("");
                }
            });
        });

        </script>
       <!-- <script>
        $(document).ready(function() {
        $("#dialog-button").click(function(e) {
            var description = $("#description").val();
            
            if (description.trim() === "") {
            e.preventDefault();
            $("#descriptionError").text("*Description is required.");
            }
        });
        });
       </script> -->
        <script>
            // Get the current date and time
            const currentDate = new Date();
            const currentDateString = currentDate.toISOString().split("T")[0];
            const currentTimeString = currentDate.toTimeString().split(" ")[0];
            
            // Set the values of the inputs
            document.getElementById("requestDate").value = currentDateString;
            document.getElementById("requestTime").value = currentTimeString;
          </script>

        <script>
            const name = document.getElementById("name");
            const email = document.getElementById("email");
            const contact = document.getElementById("contact");
            const memberType = document.getElementById("membertype");
            const block = document.getElementById("block");
            const roomNo = document.getElementById("roomNo");
            const requestType = document.getElementById("requestType");
            const requestDate = document.getElementById("requestDate");
            const requestTime = document.getElementById("requestTime");
            const description = document.getElementById("description");
        
            const dialogButton = document.getElementById('dialog-button');
            const dialogBox = document.getElementById('dialog-box');
            const dialogOkButton = document.getElementById('dialog-ok-button');
            const dialogCancelButton = document.getElementById('dialog-cancel-button');
        
            let shouldRedirect = false; // Variable to track whether to redirect or not
        
            dialogButton.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent the default form submission
                if (name.value !== "" && requestType.value !== "" && description.value !== "") {
                    dialogBox.style.display = 'flex';
                    shouldRedirect = true; // Enable redirection by default
                }
            });
        
            dialogOkButton.addEventListener('click', () => {
                console.log('OK button clicked');
                // Perform any necessary actions before redirecting
                if (shouldRedirect) {
                    window.location.href = "/userdashboard"; // Replace "/userdashboard" with the desired page URL
                }
            });
        
            dialogCancelButton.addEventListener('click', (event) => {
                event.preventDefault(); // Prevent form submission
                console.log('Cancel button clicked');
                dialogBox.style.display = 'none';
                shouldRedirect = false;
                
            });
        </script>

        <!-- /End-bar -->
        <!-- bundle -->
        <script src="../assets/js/vendor.min.js"></script>
        <script src="../assets/js/app.min.js"></script>

        <!-- Apex js -->
        <script src="../assets/js/vendor/apexcharts.min.js"></script>

        <!-- Todo js -->
        <script src="../assets/js/ui/component.todo.js"></script>

        <!-- demo app -->
        <script src="../assets/js/pages/demo.dashboard-crm.js"></script>
        <!-- end demo js-->
    </body>
</html>
